    .user-manage-side {
        width: 130px !important;
        padding: 8px 0 0 10px;
        #side-nav {
            margin: 0;
            li {
                height: 24px;
                line-height: 24px;
                a{
                    color: #666;
                    &:hover{
                        color: #1e89e0;
                    }
                }
                .current {
                    color: #1e89e0;
                    font-weight: bold;
                }
                &.nav-header {
                    margin: 20px 0 0 0;
                    font-weight: bold;
                    color: #222;
                }
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
    .user-manage-body {
        width: 1050px !important;
        .panel {
            border-color: #FFF;
            margin-bottom: 20px;
            .panel-heading {
                height: 50px;
                line-height: 50px;
                background-color: transparent;
                h3 {
                    margin: 0;
                    font-size: 16px;
                    line-height: 29px;
                    color: #666;
                }
            }
            .panel-body {
                min-height: 600px;
            }
        }
    }
