@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-10-21 14:22:33
 * @version $Id$
 */
/*================/ 选择地址 /========================*/
.ui-setAddress {
  overflow: hidden;
}
.setAddress-title {
  line-height: 30px;
  overflow: hidden;
  margin: 20px 0;
}
.setAddress-title span {
  float: right;
  margin-right: 10px;
}
.setAddress-title span strong {
  color: #cc0000;
  font-size: 12px;
}
.ui_ship_addr {
  overflow: hidden;
}
.ui_ship_addr ul.shipadd_list {
  overflow: hidden;
}
.ui_ship_addr ul.shipadd_list li {
  display: block;
  overflow: hidden;
  padding: 10px 20px;
}
.ui_ship_addr ul.shipadd_list li .consignee_item {
  float: left;
  display: inline;
  width: 162px;
  height: 40px;
  line-height: 30px;
  border: 1px solid #eaeaea;
  text-align: center;
  padding: 5px 25px;
  background: #fff;
  cursor: pointer;
}
.ui_ship_addr ul.shipadd_list li .consignee_item.current {
  background: url("http://img04.xesimg.com/payment/icon_right.png") right bottom no-repeat #ffffff;
  border: 2px solid #3bafda;
  color: #3bafda;
  padding: 4px 24px;
}
.ui_ship_addr ul.shipadd_list li .addr_detail {
  float: left;
  display: inline;
  line-height: 40px;
}
.ui_ship_addr ul.shipadd_list li .addr_detail span {
  display: inline-block;
  padding-left: 20px;
}
.ui_ship_addr ul.shipadd_list li .ship_btns {
  float: right;
  display: inline;
  line-height: 40px;
  visibility: hidden;
}
.ui_ship_addr ul.shipadd_list li .ship_btns a {
  margin-left: 10px;
}
.ui_ship_addr ul.shipadd_list li.current {
  background: #fcfcfc;
}
.ui_ship_addr ul.shipadd_list li.current .ship_btns {
  visibility: visible;
}
.ui_ship_addr ul.shipadd_list li.f_detailAddress {
  display: none;
}
.addr_switch {
  width: 100px;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  padding: 5px 20px;
}
.addr_switch em {
  display: inline-block;
  width: 9px;
  height: 10px;
  line-height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  background: url("http://img04.xesimg.com/payment/addr-i.png") no-repeat;
}
.addr_switch.switch_off em {
  background: url("http://img04.xesimg.com/payment/addr-i.png") 0 -10px no-repeat;
}
.user_detail_addr_items {
  display: none;
}
.new_consignee_items {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  margin-top: 10px;
}
.new_consignee_items .info_from {
  overflow: hidden;
  background: #fcfcfc;
  padding: 20px 20px 0;
  display: none;
}
.new_consignee_items .info_from p {
  overflow: hidden;
  height: 50px;
}
.new_consignee_items .info_from p label {
  float: left;
  display: inline;
  width: 70px;
  line-height: 30px;
  margin-bottom: 10px;
}
.new_consignee_items .info_from p input {
  float: left;
  display: inline;
  width: 250px;
  height: 26px;
  border: 1px solid #d2d2d2;
  padding: 5px;
}
.new_consignee_items .info_from p .input_360 {
  width: 360px;
}
.new_consignee_items .info_from p span {
  float: left;
  display: inline;
  color: #999;
  margin-right: 5px;
}
.new_consignee_items .info_from p span.text {
  line-height: 35px;
}
.new_consignee_items .info_from p .select {
  display: inline;
  margin-right: 10px;
  height: 36px;
  border: 1px solid #d2d2d2;
}
.new_consignee_items .info_from p .btn {
  width: 172px;
  color: #FFF;
  line-height: 35px;
  text-decoration: none;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  background: #3bafda;
}
.new_consignee_items .info_from p .error_tips_address {
  float: none;
  padding-left: 10px;
  color: #cc0000;
  display: inline-block;
}
.new_consignee_items .info_from p .error {
  border: 1px solid #c00;
}
.new_consignee_items .info_from p.error_tips_address {
  color: #cc0000;
}
