.tb-content{
    padding: 0 10px;
    p{
        font-family: "Microsoft YaHei";
        font-size: 14px;
    }
    ul{
        min-width: 440px;
        list-style: none;
        padding: 0;
        li{
            height: 60px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
            h5{
                float: left;
                display: inline-block;
                width: 20%;
                min-width: 115px;
                height: 45px;
                margin-left: 15px;
                padding: 15px 0 0 50px;
                font-size: 14px;
                color: #333;
                background: url("img/app-logo.png") no-repeat;
            }
            span{
                float: left;
                width: 15%;
                min-width: 50px;
                margin-top: 20px;
            }
        }
        .unbounded{
            span{
                font-size: 14px;
                color: #e74c3c;
            }
            .btn-info{
                float: right;               
                width: 100px;
                margin: 13px 20px 0 0; 
                color: #fff;
            }
        }
        .bounded{
            span{
                font-size: 14px;
                color: #37bd9c; 
            }
            p{
                display: inline-block;
                margin-top: 20px; 
                .app-user{
                    float: none;
                    font-size: 12px;
                }
            }
            a{
                float: right;
                margin: 20px 40px 0 0;
                font-size: 14px;
                color: #333;
            }
        }
        .app-qq{
            h5{
                background-position: 0 0;
            }
        }
        .app-weixin{
            h5{
                background-position: 0 -78px;
            }
        }
        .app-weibo{
            h5{
                background-position: 0 -158px;
            }
        }
        .app-jia{
            h5{
                background-position: 0 -240px;
            }
        }
    }
    .prompt-box{
        margin: 0 auto;
        clear: both;
        img.prompt{
            position: relative;
            width: 75px;
            height: 55px;
            top: 6px;
            left: 7px;
        }
        .cb-prompt-box{
            background: #fff8eb;
            border-radius: 5px;
            padding: 10px 0 0 20px;
            h3{
                font-size: 14px;
                font-family: "Microsoft YaHei";
                color: #666;
                margin: 6px 0 6px 5px;
            }
            p{
                padding: 0 10px 10px 5px;
                font-size: 12px;
                line-height: 23px;
            }
        } 
    }
}