.tb-content {
  padding: 0 10px;
}
.tb-content p {
  font-family: "Microsoft YaHei";
  font-size: 14px;
}
.tb-content ul {
  min-width: 440px;
  list-style: none;
  padding: 0;
}
.tb-content ul li {
  height: 60px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}
.tb-content ul li h5 {
  float: left;
  display: inline-block;
  width: 20%;
  min-width: 115px;
  height: 45px;
  margin-left: 15px;
  padding: 15px 0 0 50px;
  font-size: 14px;
  color: #333;
  background: url("img/app-logo.png") no-repeat;
}
.tb-content ul li span {
  float: left;
  width: 15%;
  min-width: 50px;
  margin-top: 20px;
}
.tb-content ul .unbounded span {
  font-size: 14px;
  color: #e74c3c;
}
.tb-content ul .unbounded .btn-info {
  float: right;
  width: 100px;
  margin: 13px 20px 0 0;
  color: #fff;
}
.tb-content ul .bounded span {
  font-size: 14px;
  color: #37bd9c;
}
.tb-content ul .bounded p {
  display: inline-block;
  margin-top: 20px;
}
.tb-content ul .bounded p .app-user {
  float: none;
  font-size: 12px;
}
.tb-content ul .bounded a {
  float: right;
  margin: 20px 40px 0 0;
  font-size: 14px;
  color: #333;
}
.tb-content ul .app-qq h5 {
  background-position: 0 0;
}
.tb-content ul .app-weixin h5 {
  background-position: 0 -78px;
}
.tb-content ul .app-weibo h5 {
  background-position: 0 -158px;
}
.tb-content ul .app-jia h5 {
  background-position: 0 -240px;
}
.tb-content .prompt-box {
  width: 1000px;
  margin: 0 auto;
  clear: both;
}
.tb-content .prompt-box img.prompt {
  position: relative;
  width: 100px;
  height: 84px;
  top: 30px;
  left: 50px;
}
.tb-content .prompt-box .cb-prompt-box {
  background: #fff8eb;
  border-radius: 5px;
  padding: 10px 0 0 20px;
}
.tb-content .prompt-box .cb-prompt-box h3 {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: #666;
  margin: 6px 0 6px 5px;
}
.tb-content .prompt-box .cb-prompt-box p {
  padding: 0 10px 10px 5px;
  font-size: 12px;
  line-height: 23px;
}
