// out: ../css/default.css, compress: true, strictMath: true
@header-color: #fc6e51;
@bg-color: #fff;
@font: #888;
@primary-color: #008CBA !important; // bondi-blue
@secondary-color: #e7e7e7 !important; // white-lilac
@alert-color: #f04124 !important; // cinnabar
@success-color: #43AC6A !important; // sea-green
@warning-color: #f08a24 !important; // carrot
@info-color: #a0d3e8 !important; // cornflower
@selected-color: salmon;
@font-family: "微软雅黑",
Helvetica,
'Source Sans Pro',
sans-serif;
html,
body {
    font-family: "微软雅黑", Helvetica, 'Source Sans Pro', sans-serif;
}
@fa: "Arial";
@fg: "Georgia";
@ft: "Tahoma";
@fl: "Lucida Console";
@fs: "宋体";
@fw: "Microsoft YaHei";
@fd: "verdana";
@fs: "SimSun";
@red: #e74c3c;
@link: #666;
@link-hover: #3bafda;

@btn-primary: #1e89e0;
@gray-base:#666;
@text-muted:darken(@gray-base, 30%);
ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
em {
    font-style: normal;
    padding: 0 .2rem;
}
.label {
    font-weight: 500;
}

.icon {
    &.icon-arrow-right {
        width: 4px;
        height: 14px;
        font: 400 9px/14px consolas;
        padding-top: 4px;
    }
}