.notice-warp {
  height: auto;
  width: 1050px;
  margin: 0 auto;
}
.notice-warp #notice-l {
  float: left;
  width: 120px;
  background: #fff;
  border-radius: 5px;
}
.notice-warp #notice-l .notice-nav {
  margin: 0;
  padding-top: 15px;
  list-style: none;
}
.notice-warp #notice-l .notice-nav li {
  width: 120px;
  height: 30px;
  line-height: 30px;
  margin-top: 7px;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #333;
  letter-spacing: 2px;
  text-align: center;
}
.notice-warp #notice-l .notice-nav .notice-hover {
  color: #fff;
  background: #3bafda;
}
.notice-warp #notice-r {
  float: right;
  width: 920px;
  height: auto;
  min-height: 680px;
  overflow: hidden;
  background: #fff;
  border-radius: 5px;
}
.notice-warp #notice-r #notice-nm {
  display: block;
  width: 176px;
  height: 170px;
  margin: 40px auto 25px;
}
.notice-warp #notice-r #notice-nm-text {
  display: block;
  width: 95px;
  margin: 0 auto 30px;
  color: #999;
  font-size: 14px;
}
.notice-warp #notice-r .notice-message {
  width: 920px;
  height: auto;
  padding: 10px 20px 25px 15px;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
}
.notice-warp #notice-r .notice-message .notice-user {
  float: left;
  width: 60px;
  margin: 10px 15px 0 0;
}
.notice-warp #notice-r .notice-message .notice-user span {
  display: block;
  width: 60px;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
.notice-warp #notice-r .notice-message .notice-user a {
  display: block;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}
.notice-warp #notice-r .notice-message .notice-text {
  float: left;
  width: 805px;
  display: block;
  word-break: break-all;
}
.notice-warp #notice-r .notice-message .notice-text p {
  color: #333;
  line-height: 32px;
  margin-bottom: 10px;
  font-size: 14px;
}
.notice-warp #notice-r .notice-message .notice-text a {
  float: right;
  display: inline;
  font-size: 12px;
}
.notice-warp #notice-r .notice-message .notice-text span {
  float: left;
  display: inline-block;
  font-size: 12px;
  color: #a0a0a0;
}
