/**
 *Table 公用样式
 *table元素已经设定了BG和border-collapse属性
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  border: 1px solid #eaeaea;
}
.table thead tr {
  height: 50px;
  background-color: #fcfcfc;
}
.table thead tr th {
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  font-family: "SimSun";
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #eaeaea;
}
.table tbody tr {
  height: 50px;
  background-color: #fff;
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: "Microsoft YaHei";
  color: #333;
  border-bottom: 1px solid #eaeaea;
}
/**
 * table with the solid border
 *具体在学习中心-个人设置-我的订单使用
 *------------------------------------
 */
.table-solid th,
.table-solid td {
  border: 1px solid #eaeaea;
}
