@keyframes arrow {
  0 {
    transform: translateY(0px) rotate(180deg);
    opacity: 1
  }
  99% {
    transform: translateY(-15px) rotate(180deg)
  }
  100% {
    transform: translateY(0px) rotate(180deg);
    opacity: 0
  }
}
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.font-yellow {
  color: #ffff00;
}
.font-blue {
  color: #66d6ff;
}
.mistake {
  font-size: 0.75em;
  color: #ffff00;
}
.complete {
  font-size: 0.75em;
  color: #00ff00;
}
.clearfix {
  overflow: hidden;
  _zoom: 1;
}
.body-bgColor {
  font-size: 16px;
  line-height: 1.42857143;
  color: #fff;
  font-family: '微软雅黑', Arial, "Heiti SC", "Helvetica", "Helvetica Neue", "Droidsansfallback", "Droid Sans", "Dengxian", "Segoe";
  background-color: #27294f;
  background-image: url('/static/img/star_m.png');
  background-image: url('/static/img/star_m.png'), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#35285d), to(#27294f));
  background-image: url('/static/img/star_m.png'), -moz-linear-gradient(top, #35285d, #27294f);
  background-image: url('/static/img/star_m.png'), -ms-linear-gradient(top, #35285d, #27294f);
  margin: 0;
  box-sizing: border-box;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
.section {
  position: relative;
  background-size: 100% 100%;
  text-align: center;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 6px;

  &.section-4 .wrap, &.section-5 .wrap {
    max-width: 980px;
    margin: 0 auto;
  }
  .teacherReviews {
    text-align: left;
    line-height: 40px;
    height: 40px;
    margin: -10px auto 0;
    width: 90%;

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
  }
  .advice {
    width: 90%;
    margin: 10px auto 0;
    padding: 10px;
    text-align: left;
    border: 1px solid #fff;
    position: relative;
    border-radius: 5px;
    font-size: 12px;
  }
  .monkey, .allRight {
    width: 80vw;
    height: 80vw !important;
    max-width: 200px;
    max-height: 200px;
    margin-top: 2em;
  }
  h4 {
    text-align: center;
    margin-top: 24px;
    font-size: 1.5em;
    font-weight: normal;
  }
  &.section-1 {
    opacity: 1;

    img {
      width: 100%;
      margin-top: 120px;
      max-width: 750px;
    }
  }
  &.section-2 {
    .top {
      width: 100%;
      margin-bottom: 5vh;
    }
    .overview {
      position: relative;
      top: -30px;

      .headBall {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #fff;
        left: calc(~'32% - 7px ');
        top: -30px;

        .line {
          width: 1px;
          height: 0px;
          background: #fff;
          position: absolute;
          top: 12px;
          left: 5px;
        }
      }
      .item {
        .pull-left {
          width: 32%;
          position: relative;
          height: 90px;

          .ball {
            background: #fff;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            position: absolute;
            right: -4px;
            top: 20px;
            opacity: 0;
          }
          .line_1 {
            width: 0px;
            height: 1px;
            background: rgba(220, 220, 220, 0.5);
            position: absolute;
            top: 52px;
            left: 100%;
          }
          .line_2 {
            width: 0;
            height: 1px;
            background: rgba(220, 220, 220, 0.5);
            position: absolute;
            top: 80px;
            left: 100%;
          }
          img {
            width: 50px;
            height: 50px;
            opacity: 0;
          }
        }
        .pull-right {
          width: 68%;
          padding: 0 0 0 40px;
          text-align: left;

          p {
            margin-top: 4.5px;

            span:first-child {
              font-size: 30px;
              opacity: 0;
              transform: translateX(-20px);
            }
            span:last-child {
              font-size: 14px;
              opacity: 0;
              position: relative;
              top: -5px;
            }
          }
        }
      }
    }
  }
  &.section-4 {
    .absent {
      margin-top: 1em;
    }
    .timeline {
      position: relative;
      padding-top: 4em;

      .headBall {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid rgba(220, 220, 220, 0.5);
        left: calc(~"22.5% - 6px");
        top: calc(~"4em - 30px");

        &:before {
          content: '';
          width: 1px;
          height: 20px;
          background: rgba(220, 220, 220, 0.5);
          position: absolute;
          left: 5px;
          top: 12px;
        }
      }
      .item {
        padding-bottom: 1em;
        overflow: hidden;
        position: relative;

        .time {
          width: 10%;
          float: left;
          margin-left: 5%;
          position: relative;
        }
        .line {
          width: 1px;
          height: 1000px;
          background: rgba(220, 220, 220, 0.5);
          position: absolute;
          top: 0;
          left: 22.5%;

          .ball {
            background: #fff;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            position: absolute;
            left: -4px;
            top: 5px;
          }
        }
        .message {
          width: 60%;
          text-align: left;
          float: right;
          margin-right: 10%;

          .right, .wrong, .not {
            background: #77c043;
            padding: 0px 3px;
            border-radius: 3px;
          }
          .wrong {
            background: #f05327;
          }
          .not {
            background: #3bafda;
          }
        }
      }
    }
  }
  &.section-5 {
    .correctRate {
      .my {
        margin-top: 50px;
        font-size: 48px;
      }
    }
  }
  &.section-6, &.section-7 {
    display: block !important;

    h4 {
      margin-bottom: 20px;
    }
    text-align: center;

    p {
      text-align: left;
    }
    .arrow-animation {
      position: static;
      margin: 30px auto 20px;

      p {
        text-align: center;
      }
    }
    .liveWrong {
      width: 100%;
      padding: 0 10%;
    }
    .item {
      margin-bottom: 14px;
      width: 100%;

      .knowledge {
        font-size: 0.8em;
        margin-bottom: 6px;
      }
      img {
        width: 100%;
        border-radius: 10px;
      }
      p {
        margin-bottom: 4px;

        span:first-child {
          margin-right: 10px;
          font-size: 1.2em;
        }
        span:last-child {
          display: inline-block;
          border-radius: 2px;
          text-align: center;
          padding: 0 0.2em;
        }
      }
    }
  }
  &.section-8 {
    text-indent: center;

    a {
      width: 187px;
      height: 52px;
      border: 1px solid #fff;
      border-radius: 30px;
      display: block;
      margin: 20px auto;
      color: #fff;
      text-decoration: none;
      line-height: 52px;
      font-size: 30px;
      opacity: 0
    }
    img {
      &:first-child {
        max-width: 525px;
        width: 70%;
        margin-top: 100px;
      }
      &:last-child {
      }
    }
  }
  .correctRate {
    width: 180px;
    height: 180px;
    font-size: 12px;
    margin: 2% auto 0;
    border-radius: 50%;
    border: 1px solid transparent;
    background: url('img/correctRate.jpg');
    background-size: 100% 100%;

    .my {
      font-size: 36px;
      text-align: center;
      margin: 30px 0 0;
      line-height: 48px;

      small {
        font-size: 24px;
        margin-left: -12px;
      }
    }
    .text {
      width: 60%;
      margin: 0 auto 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      padding-bottom: 5px;
      font-size: 15px;
    }
    .average {
      font-size: 12px;
    }
  }
}
.cover {
  position: fixed;
  width: 100%;
  left: 0;
  height: 105%;
  background: #000;
  top: 0;
  opacity: 1;
  vertical-align: middle;
  display: none;
  z-index: 999;
  overflow-y: auto;

  &.tab {
    background: rgba(0, 0, 0, 0.8);
    padding: 0% 10%;
  }
  .clearfix {
    text-align: center;
    font-size: 40px;

    span:last-child {
      display: none !important;
    }
  }
  .process {
    padding-bottom: 8%;
  }
  .text {
    font-size: 20px;
    max-width: 980px;
    margin: 0 auto;
    overflow-y: auto;
    height: 63%
  }
  button {
    cursor: pointer;
    background: url('img/closeButton.png');
    width: 80px;
    height: 80px;
    outline: none;
    border: none;
    position: absolute;
    bottom: 5em;
    left: 50%;
    margin-left: -40px;
  }
  img {
    width: 100%;
    position: absolute;
    margin-top: -25%;
    top: 50%;
    left: 0;
  }
  @media screen and (max-width:767px) {
    .process {
      font-size: 34px;
    }
    .text {
      font-size: 16px;
      margin-top: 22px;
    }
    button {
      width: 50px;
      height: 50px;
      background-size: 100% 100%;
      margin-left: -25px;
    }
  }
}
.arrow-animation {
  position: absolute;
  bottom: 10px;
  width: 100px;
  left: 50%;
  text-align: center;
  margin-left: -50px;
}
.arrow {
  background: url('img/nextArrow.png') no-repeat;
  background-size: 100% 100%;
  position: relative;
  animation: arrow 1s  infinite;
  width: 30px;
  height: 30px;
  margin: 0px auto;
  transform: rotate(180deg);
}
.triangle:after {
  content: '';
  position: absolute;
  top: -7px;
  left: 12px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent #fff;  /*透明 透明  灰*/
}
.triangle:before {
  content: '';
  z-index: 2;
  position: absolute;
  top: -5px;
  left: 12px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px;
  border-style: solid;
  border-color: transparent transparent #27294f;  /*透明 透明  灰*/
}
@media screen and (max-width:400px) {
  .body-bgColor {
    font-size: 14px;
  }
}
@media screen and (min-width:500px) {
  .section-6, .section-7 {
    .item {
      p {
        span:last-child {
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and(max-width:767px) {
  .section {
    .monkey, .allRight {
      max-width: 150px;
      margin-top: 0.5em;
      max-height: 150px;
    }
  }
}
@media screen and (max-height:568px) {
  .section.section-1 img {
    margin-top: 100px;
  }
}
@media screen and(max-height:480px) {
  .section .correctRate {
    width: 180px;
    height: 180px;
    font-size: 12px;

    .my {
      line-height: 40px;
      font-size: 40px;
    }
    .text {
      font-size: 20px;
    }
  }
}
@media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
  .section-5 .monkey {
    margin-top: 1em;
    max-width: 120px;
    max-height: 120px;
  }
}
@media screen and (min-width:980px) {
  .cover.tab {
    padding: 10%;
  }
  .section {
    &.section-6, &.section-5, &.section-7, &.section-4 {
      max-width: 1980px;

      .fp-tableCell {
        display: block;
      }
      .arrow-animation {
        opacity: 0;
      }
    }
    &.section-4 {
      .timeline {
        max-width: 980px;
        margin: 0 auto;
      }
    }
    &.section-5 {
      .wrong {
        max-width: 980px;
        margin: 0 auto;
        padding: 0;
      }
    }
    &.section-6, &.section-7 {
      .liveWrong {
        max-width: 980px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }
  .section.section-4 .timeline {
    .item {
      .time {
        margin-left: 20%;
      }
      .line {
        left: 30%;
      }
      .message {
        margin-right: 5%;
      }
    }
    .headBall {
      left: calc(~"30% - 6px");
    }
  }
}

/* 适配Mac本 */
.mac {
  .section {
    &.section-1 img {
      max-width: 500px;
    }
    &.section-8 {
      img:first-child {
        width: 300px;
      }
    }
  }
}
@media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {

  /* 兼容iphone5 */
  .body-bgColor {
    font-size: 12px;

    .triangle:before {
      left: 8px;
    }
    .triangle:after {
      left: 8px;
    }
    .section {
      .correctRate {
        transform: scale(0.7);
        margin: -20px auto 0;
      }
      .teacherReviews {
        line-height: 30px;
        height: 30px;
        margin-top: -30px;

        img {
          width: 30px;
          height: 30px;
        }
      }
      &.section-2 {
        .top {
          width: 80%;
        }
        .overview {
          .item {
            height: 80px;

            .pull-left {
              height: 60px;

              img {
                width: 40px;
                height: 40px;
                margin-top: 5px;
              }
              .line_2 {
                top: 76px;
              }
            }
          }
        }
      }
      .advice {
        font-size: 12px;
        padding: 6px;
      }
    }
  }
}