@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-10-29 10:40:12
 * @version $Id$
 */
#ui-header-menu-wrap {
  height: 30px;
  background: #f1f1f1;
}
#ui-header-menu-wrap .ui-header-menu {
  width: 1190px;
  margin: 0 auto;
}
#ui-header-menu-wrap .ui-header-menu .login-bar {
  float: left;
  width: 350px;
  line-height: 27px;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar {
  float: left;
  display: inline;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar span,
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar a {
  display: inline-block;
  font-size: 12px;
  font-family: "SimSun";
  margin-right: 10px;
  color: #666;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar span:hover,
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar a:hover {
  color: #3bafda;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar .xes {
  color: #666;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar .user {
  color: #e74c3c;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar .login {
  color: #e74c3c;
}
#ui-header-menu-wrap .ui-header-menu .login-bar .s-bar .register {
  width: 60px;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile {
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li {
  float: left;
  display: inline;
  line-height: 30px;
  font-size: 12px;
  font-family: "SimSun";
  background: url(img/line.png) no-repeat right 0;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li span {
  display: block;
  padding: 0 10px;
  cursor: pointer;
  color: #666;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li a {
  display: block;
  padding: 0 10px;
  color: #666;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li a:hover {
  color: #3bafda;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li .menu-layer {
  display: none;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover {
  position: relative;
  z-index: 10;
  background: url(img/line.png) no-repeat right 0 #ffffff;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover span {
  display: block;
  background: #fff;
  position: relative;
  z-index: 100;
  margin-right: 1px;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover .menu-layer {
  display: block;
  width: 140px;
  background: #fff;
  border: 1px solid #dcdcdc;
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 1;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover .menu-layer ul {
  overflow: hidden;
  padding: 7px 0;
  margin: 0;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover .menu-layer ul li {
  display: block;
  width: 100%;
  line-height: 30px;
  background: none;
  padding-left: 12px;
}
#ui-header-menu-wrap .ui-header-menu .login-bar ul.s-mobile li.hover .menu-layer ul li a em {
  color: #e74c3c;
  font-style: normal;
}
#ui-header-menu-wrap .ui-header-menu .menu-list {
  float: left;
  width: 630px;
  height: 30px;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul {
  float: right;
  margin: 0;
  padding: 0;
  line-height: 30px;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li {
  float: left;
  display: inline;
  font-size: 12px;
  font-family: "SimSun";
  list-style: none;
  background: url(img/line.png) no-repeat right 0;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li span {
  display: block;
  color: #666;
  cursor: pointer;
  padding: 0 10px;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li a {
  display: block;
  color: #666;
  padding: 0 10px;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li a:hover {
  color: #3bafda;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li em {
  color: #e74c3c;
  font-style: normal;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li .menu-layer {
  display: none;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li.hover {
  position: relative;
  z-index: 10;
  background: url(img/line.png) no-repeat right 0 #ffffff;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li.hover span {
  display: block;
  background: #fff;
  position: relative;
  z-index: 100;
  margin-right: 1px;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li.hover .menu-layer {
  display: block;
  width: 140px;
  background: #fff;
  border: 1px solid #dcdcdc;
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 1;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li.hover .menu-layer ul {
  overflow: hidden;
  padding: 7px 0;
}
#ui-header-menu-wrap .ui-header-menu .menu-list ul li.hover .menu-layer ul li {
  display: block;
  width: 100%;
  line-height: 30px;
  background: none;
  padding-left: 12px;
}
#ui-header-menu-wrap .ui-header-menu .phone-400 {
  float: right;
  width: 210px;
  height: 30px;
  background: url(img/phone-400.png) no-repeat;
  text-indent: 99999em;
}
.ui-head-logo {
  width: 1190px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}
.ui-head-logo .h-logo {
  float: left;
  width: 350px;
  line-height: 55px;
  padding: 22px 0;
}
.ui-head-logo .h-logo a {
  display: block;
  width: 280px;
  height: 55px;
  background: url(img/logo.png) no-repeat;
  text-indent: -999999em;
}
.ui-head-logo .h-search {
  float: left;
  width: 540px;
  height: 36px;
  margin-top: 24px;
}
.ui-head-logo .h-search input.h-text {
  float: left;
  width: 468px;
  line-height: 24px;
  border-color: #1e89e0;
  border-style: solid;
  border-width: 2px 0 2px 2px;
  color: #666;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  margin-bottom: 4px;
  outline: 0 none;
  padding: 4px;
  background: #fff;
}
.ui-head-logo .h-search .btn-search {
  float: left;
  width: 70px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #1e89e0;
  overflow: hidden;
}
.ui-head-logo .h-words {
  float: left;
  width: 540px;
  height: 30px;
  line-height: 30px;
}
.ui-head-logo .h-words a {
  display: inline-block;
  color: #666;
  font-size: 12px;
  font-family: "SimSun";
  margin-right: 5px;
}
.ui-header-nav {
  width: 1190px;
  height: 45px;
  margin: 0 auto;
  overflow: hidden;
}
.ui-header-nav .nav-classify {
  float: left;
  display: inline;
  width: 200px;
  line-height: 45px;
  background: #1e89e0;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  cursor: pointer;
}
.ui-header-nav ul.nav {
  float: left;
  overflow: hidden;
  margin-left: 10px;
  padding: 0;
}
.ui-header-nav ul.nav li {
  float: left;
  width: 70px;
  line-height: 45px;
  text-align: center;
  list-style: none;
}
.ui-header-nav ul.nav li a {
  color: #666;
}
.ui-header-nav ul.nav li a:hover {
  color: #3bafda;
}
.ui-header-nav ul.nav li.current a {
  color: #3bafda;
}
.ui-head-shopcart {
  float: right;
  display: inline;
  width: 140px;
  position: relative;
  z-index: 1;
  margin-top: -35px;
}
.ui-head-shopcart .sp-up-wrap {
  width: 140px;
  height: 34px;
  line-height: 30px;
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  text-align: center;
  border-radius: 2px;
}
.ui-head-shopcart .sp-up-wrap a {
  font-size: 12px;
  font-family: "SimSun";
  color: #333;
}
.ui-head-shopcart .sp-up-wrap a:hover {
  color: #3bafda;
}
.ui-head-shopcart .sp-up-wrap i {
  display: block;
  overflow: hidden;
  position: absolute;
}
.ui-head-shopcart .sp-up-wrap i.sp-icon-left {
  width: 16px;
  height: 16px;
  background: url(img/icon-head-cart.png) no-repeat;
  top: 8px;
  left: 18px;
}
.ui-head-shopcart .sp-up-wrap i.sp-icon-right {
  width: 7px;
  height: 13px;
  color: #999;
  font: 400 13px/13px simsun;
  overflow: hidden;
  right: 10px;
  top: 11px;
}
.ui-head-shopcart .sp-up-wrap i.sp-amount {
  display: inline-block;
  min-width: 20px;
  line-height: 20px;
  background-color: #e74c3c;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  font-style: normal;
  left: 104px;
  text-align: center;
  top: -12px;
}
.ui-head-shopcart .sp-down-wrap {
  display: none;
  position: absolute;
  width: 300px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #dfdfdf;
}
.ui-head-shopcart.hover .sp-up-wrap {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  position: relative;
  z-index: 1;
}
.ui-head-shopcart.hover .sp-down-wrap {
  display: block;
  right: 0;
  top: 33px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-top: 0;
}
.ui-head-shopcart.hover .sp-down-wrap .spacer {
  width: 139px;
  height: 12px;
  background: #fff;
  position: absolute;
  right: 0;
  top: -1px;
  z-index: 9;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-no-shop-wrap {
  width: 100%;
  height: 122px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-no-shop-wrap span {
  display: block;
  background: url(img/icon-no-shop.png) 22px 40px no-repeat;
  font-size: 12px;
  font-family: "SimSun";
  line-height: 122px;
  color: #999;
  padding-left: 80px;
}
.ui-head-shopcart.hover .sp-down-wrap .new-add-cart {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #666;
  padding: 0 10px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap {
  width: 290px;
  height: 259px;
  overflow: auto;
  margin-left: 10px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul {
  width: 270px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .left-infor-course {
  float: left;
  width: 180px;
  font-size: 12px;
  font-family: "SimSun";
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .left-infor-course .course-title {
  line-height: 180%;
  font-size: 12px;
  font-family: "SimSun";
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .left-infor-course .course-title em {
  display: inline-block;
  width: 40px;
  height: 20px;
  line-height: 20px;
  background: #ffbc3c;
  color: #fff;
  text-align: center;
  font-style: normal;
  border-radius: 2px;
  margin-right: 5px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .left-infor-course .course-teacher {
  line-height: 180%;
  color: #999;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function {
  float: right;
  width: 80px;
  font-size: 12px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function span,
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function a {
  float: right;
  text-align: right;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function .money {
  width: 100%;
  margin: 5px 0;
  font-weight: 700;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function .fav {
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background: #e74c3c;
  margin: 0 0 5px;
  border-radius: 2px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-scroll-wrap ul li .right-function .delete {
  color: #666;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-total-content {
  height: 40px;
  background: #fcfcfc;
  overflow: hidden;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-total-content .sp-total {
  float: left;
  font-size: 12px;
  font-family: "SimSun";
  line-height: 40px;
  padding-left: 10px;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-total-content .sp-total b {
  color: #e74c3c;
}
.ui-head-shopcart.hover .sp-down-wrap .sp-total-content #btn-go-shop-cart {
  float: right;
  width: 70px;
  height: 28px;
  line-height: 28px;
  background: #e74c3c;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 6px 10px;
  font-weight: 700;
}
#container {
  overflow: hidden;
}
.container {
  width: 100%;
  background: url(http://img04.xesimg.com/payment/header_bg.png) 0 -50px repeat-x;
  min-height: 500px;
}
.columns-wrap {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
.columns-wrap .w-240 {
  width: 240px;
}
.columns-wrap .w-260 {
  width: 260px;
}
.columns-wrap .w-690 {
  width: 690px;
}
.columns-wrap .w-920 {
  width: 920px;
}
.columns-wrap .w-930 {
  width: 930px;
}
.columns-wrap .w-1050 {
  width: 1050px;
}
.columns-wrap .s-border {
  border: 1px solid #ccc;
}
.columns-wrap .right,
.columns-wrap .center,
.columns-wrap .left {
  float: left;
  display: inline;
  overflow: hidden;
  margin-bottom: 10px;
  min-height: 100px;
}
.columns-wrap .c-columns {
  margin: 0 10px;
}
