body {
  background: #f1f2f6;
}
.course-label {
  font-family: "SimSun";
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 0;
}
.course-blue-label {
  background: #5abdeb;
}
.course-green-label {
  background: #37bc9b;
}
.icon-will-red {
  background: url("img/icon-will-red.png") no-repeat scroll left center;
  height: 10px;
}
.icon-just-white {
  background: url("img/white-arrow.png") no-repeat scroll left center;
  height: 10px;
}
.label-study-wrap {
  position: absolute;
  right: -25px;
  width: 25px;
  top: 19px;
  z-index: 1;
}
.label-study {
  width: 25px;
  height: 60px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  cursor: pointer;
  font-weight: normal;
  padding: 0 2px;
  line-height: 17px;
  margin-bottom: 1px;
}
.label-delay {
  background: #3bafda;
  padding-top: 12px;
}
.label-delayed {
  background: #ccd1d9;
  padding-top: 5px;
  cursor: default;
}
.label-continun {
  background: #37bc9b;
  padding-top: 12px;
}
.label-sheng {
  padding-top: 12px;
  background: #ffaa09;
}
.courseList-label {
  padding-right: 25px;
  padding: 15px 0px 15px 15px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}
.courselayout-list .popover {
  background-color: #f9f9f9;
  padding: 4px 3px;
  font-size: 14px;
  color: #666;
  border-color: #e5e5e5;
  box-shadow: none;
}
.courselayout-list .popover.top > .arrow::after {
  border-top-color: #f9f9f9;
}
.courselayout-list .popover.top > .arrow {
  border-top-color: #e5e5e5;
}
.wrap-body a,
.wrap-body a:focus,
.wrap-body a.btn:focus,
.wrap-body a.btn:active {
  outline: none;
}
.courseList-wrap {
  clear: both;
  position: relative;
}
.courseList-wrap .course-btn-gray,
.courseList-wrap .course-btn-gray[disabled] {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
  color: #fff;
  cursor: default;
}
.courseList-wrap .course-btn-gray:hover,
.courseList-wrap .course-btn-gray[disabled]:hover {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
}
.courseList-wrap .course-btn-gray:focus,
.courseList-wrap .course-btn-gray[disabled]:focus {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
}
.courseList-wrap .btn {
  border-radius: 2px;
  font-family: "SimSun";
  margin-bottom: 0;
  width: 98px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
  outline: none;
}
.courseList-wrap .button-icon {
  display: inline-block;
  margin-right: 6px;
  width: 13px;
}
.courseList {
  display: block;
  font-family: "SimSun";
  height: auto;
}
.courseList table,
.courseList tr,
.courseList th,
.courseList thead {
  margin: 0;
  padding: 0;
}
.courseList ul,
.courseList li,
.courseList p {
  margin: 0;
  list-style: none;
  padding: 0;
}
.courseList .left {
  float: left;
}
.courseList .study-report {
  float: left;
  width: 160px;
  padding-right: 17px;
}
.courseList .study-report .progress-show {
  text-align: center;
  margin-bottom: 5px;
}
.courseList .study-report p {
  text-align: left;
  font-size: 12px;
  color: #999999;
  line-height: 20px;
}
.courseList .study-report p span {
  color: #e74c3c;
}
.courseList .courseList-body {
  border-left: 1px solid #eaeaea;
  display: block;
  overflow: hidden;
  padding: 0 0px 0 17px;
}
.courseList .courseList-body .course-center {
  width: 69%;
}
.courseList .courseList-body .course-title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
  font-family: 'Microsoft YaHei';
  overflow: hidden;
}
.courseList .courseList-body .course-title span {
  color: #999;
}
.courseList .courseList-body .course-title .title-detail {
  margin-left: 10px;
  line-height: 22px;
}
.courseList .courseList-body .course-title .course-title-inner {
  width: 92%;
  float: left;
}
.courseList .courseList-body .course-title .course-title-inner .course-label {
  float: left;
}
.courseList .courseList-body .course-title .title-detail-gray {
  color: #999;
  cursor: default;
}
.courseList .courseList-body .course-title .course_estimate {
  color: #333333;
  font-size: 12px;
  margin-left: 10px;
  vertical-align: top;
  float: right;
  margin-right: 10px;
  font-family: "SimSun";
  line-height: 21px;
}
.courseList .courseList-body .course-title .change-course {
  color: #e74c3c;
  font-size: 14px;
  margin-left: 10px;
}
.courseList .courseList-body .title-more {
  margin-top: 44px;
  font-size: 14px;
}
.courseList .courseList-body .end-time {
  color: #666;
  font-size: 12px;
  margin: 6px 0;
}
.courseList .courseList-body .end-time span strong {
  color: #e74c3c;
  font-weight: normal;
}
.courseList .courseList-body .amount-show {
  margin-top: 15px;
}
.courseList .courseList-body .amount-show .btn {
  margin-right: 10px;
  position: relative;
}
.courseList .courseList-body .amount-show .btn .newLabel {
  position: absolute;
  height: 20px;
  border-radius: 10px;
  background: #e74c3c;
  color: #fff;
  padding: 5px 7px;
  text-align: center;
  line-height: 10px;
  right: -10px;
  top: -10px;
}
.courseList .courseList-body .amount-show .btn .homeworkLabel {
  right: -15px;
}
.courseList .courseList-body .amount-show .btn .live-label {
  border-radius: 3px;
  right: -15px;
  width: 30px;
  display: inline-block;
  background: url('img/live-label.png') no-repeat 0 0;
  text-indent: -99999px;
}
.courseList .courseList-body .amount-show .direct-btn {
  color: #e74c3c;
}
.courseList .courseList-body .amount-show .direct-btn a {
  color: #3bafda;
}
.courseList .courseList-body .more-service {
  margin-right: 10px;
  margin-top: 4px;
}
.courseList .courseList-body .more-service h4 {
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  width: 62px;
  cursor: pointer;
  font-family: "SimSun";
  margin-top: 0;
}
.courseList .courseList-body .more-service .gray-arrow {
  background: url("img/gray-arrow.png") no-repeat right center;
}
.courseList .courseList-body .more-service .blue-arrow {
  background: url("img/blue-arrow.png") no-repeat right center;
}
.courseList .courseList-body .more-service .more-list {
  padding: 5px 0px;
  border: 1px solid #f5f5f5;
  background: #fcfcfc;
  width: 62px;
  color: #333;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  display: none;
}
.courseList .courseList-body .show .more-list {
  display: block;
}
.courseList .courseList-teacher {
  height: 188px;
  border-left: 1px solid #eaeaea;
  width: 181px;
  float: left;
  padding: 5px 5px;
  position: relative;
}
.courseList .courseList-teacher .teacher-main {
  padding: 16px 12px;
  overflow: hidden;
  float: left;
  width: 170px;
}
.courseList .courseList-teacher .teacher-main .avatar-photo {
  float: left;
  margin-right: 10px;
}
.courseList .courseList-teacher .teacher-main .avatar-photo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.courseList .courseList-teacher .teacher-main .coach-con {
  float: left;
  margin-top: 3px;
}
.courseList .courseList-teacher .teacher-main .coach-con p {
  line-height: 22px;
}
.courseList .courseList-teacher .teacher-main .coach-con p a {
  color: #333;
  font-size: 12px;
}
.courseList .courseList-teacher .teacher-main .coach-con p.teacher-coach {
  font-size: 14px;
  font-family: "Microsoft YaHei";
  height: 20px;
  overflow: hidden;
  width: 76px;
}
.courseList .courseList-teacher .teacher-main .coach-con p.teacher-majar {
  color: #999;
  font-size: 12px;
  font-family: "SimSun";
}
.courseList .courseList-teacher .teacher-main .coach-con p.relook-course {
  color: #e74c3c;
}
.courseList .courseList-teacher .teacher-main-border {
  border-bottom: 1px dotted #eaeaea;
}
.courseList .courseList-teacher .majar-items {
  position: relative;
}
.courseList .courseList-teacher .majar-items ul {
  overflow: hidden;
  width: 800px;
  height: 60px;
}
.courseList .courseList-teacher .majar-items ul li {
  overflow: hidden;
  float: left;
  width: 158px;
}
.courseList .courseList-teacher .majar-items .avatar-roll {
  position: absolute;
  right: 47px;
  bottom: 4px;
}
.courseList .courseList-teacher .majar-items .avatar-roll a {
  outline: none;
}
.courseList .courseList-teacher .majar-items .avatar-roll a em {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-align: center;
  text-indent: -9999em;
  vertical-align: top;
  width: 17px;
}
.courseList .courseList-teacher .majar-items .avatar-roll a .icon-chevron-left {
  background: url('img/icon_chevron_left.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a .icon-chevron-right {
  background: url('img/icon_chevron_right.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a.none .icon-chevron-left {
  background: url('img/icon_chevron_left_none.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a.none .icon-chevron-right {
  background: url('img/icon_chevron_right_none.png') no-repeat 0 0;
}
.courseList.courseList-record .courseList-body .title-more {
  margin-top: 65px;
}
.material-exam .modal-dialog,
.courseInformation .modal-dialog {
  width: 770px;
  height: 380px;
}
.material-exam .modal-body,
.courseInformation .modal-body {
  height: 315px;
  overflow-y: auto;
  padding-bottom: 25px;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 5px;
}
.table thead {
  background: #fcfcfc;
}
.table thead tr th {
  font-weight: normal;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.table tbody tr {
  border: 1px solid #eaeaea;
  line-height: 60px;
  height: 60px;
}
.table tbody tr td {
  color: #666;
}
.table tbody tr .opened {
  color: #e74c3c;
}
.table tbody tr .static {
  color: #3bafda;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(2n) {
  background: #fff;
}
.material-wrap .material-tab {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  margin-bottom: 22px;
  margin-left: 0;
}
.material-wrap .material-layout {
  display: none;
}
.material-wrap .cant-load {
  float: right;
  font-size: 12px;
  line-height: 30px;
  color: #3bafda;
}
.material-wrap li {
  float: left;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.material-wrap li.current {
  background: #3bafda;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.material-wrap .material .btn:focus,
.material-wrap .material .btn:active:focus,
.material-wrap .material .btn.active:focus,
.material-wrap .material .btn.focus,
.material-wrap .material .btn.focus:active,
.material-wrap .material .btn.active.focus {
  outline: none;
}
.material-wrap .material tr td {
  padding: 9px 17px;
  display: inline-block;
  width: 357px;
  border: none;
}
.material-wrap .material tr td p {
  color: #666;
  font-size: 12px;
  line-height: 34px;
  margin-bottom: 10px;
  height: 34px;
  width: 322px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}
.material-wrap .material tr td span {
  color: #999999;
  font-size: 12px;
  margin-left: 10px;
}
.material-wrap .material tr td:first-child {
  border-right: 1px solid #eaeaea;
}
.examTable {
  font-size: 12px;
  font-family: 'SimSun';
}
.examTable thead {
  border: 1px solid #eaeaea;
  color: #333;
}
.examTable thead tr th {
  border-bottom: none;
}
.examTable tbody tr td {
  line-height: 43px;
}
.examTable tbody tr td.static a {
  color: #1e89e0;
}
.load-btn {
  padding: 0px 15px;
  line-height: 34px;
  font-size: 14px;
  border-radius: 2px;
  margin-bottom: 0;
  margin-right: 12px;
}
.load-btn-none {
  color: #999;
  cursor: default;
}
.load-btn-none:hover,
.load-btn-none:visited {
  color: #999;
}
.load-btn-none:active,
.load-btn-none.active {
  box-shadow: none;
  color: #999;
}
.bom-delay {
  padding: 30px 40px;
  background: #fff;
  overflow: hidden;
  height: 265px;
}
.bom-delay .delay-fsd {
  float: left;
  margin-right: 22px;
}
.bom-delay .delay-detail {
  float: left;
  padding-top: 25px;
  font-size: 16px;
  color: #666666;
}
.bom-delay .delay-detail p {
  line-height: 30px;
  font-size: 16px;
}
.bom-delay .delay-detail .delay-btn {
  border-radius: 2px;
  padding: 8px 36px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 40px;
}
.delayDate .modal-dialog {
  width: 530px;
  height: 317px;
}
.courselayout-list table,
.courselayout-list tr,
.courselayout-list th,
.courselayout-list thead {
  margin: 0;
  padding: 0;
}
.courselayout-list ul,
.courselayout-list li,
.courselayout-list p {
  margin-left: 0;
  list-style: none;
  padding: 0;
}
.courselayout-list .courseList-title {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.courselayout-list .courseList-title p {
  font-size: 18px;
  font-family: 'Microsoft YaHei';
  line-height: 34px;
  color: #666;
}
.courselayout-list .courseList-title p span {
  color: #e74c3c;
  margin-left: 10px;
  font-size: 14px;
}
.courselayout-list .tab-record-content {
  border-radius: 5px;
  display: block;
  overflow: hidden;
}
.courselayout-list .tab-record-content .tab-pane {
  display: none;
}
.courselayout-list .tab-record-content .active {
  display: block;
}
.courselayout-list .course-table-title {
  background-color: #fff;
  border-radius: 5px;
  color: #999;
  font-size: 16px;
  height: 52px;
  width: 100%;
}
.courselayout-list .course-table-title span {
  width: 32%;
  display: inline-block;
  height: 52px;
  line-height: 52px;
  text-align: center;
  float: left;
}
.courselayout-list .course-table-live-title span {
  width: 24%;
}
.courselayout-list .course-table-live-title span.span-w1 {
  width: 30%;
}
.courselayout-list .course-table-live-title span.span-w2 {
  width: 42%;
}
.courselayout-list .course-table-live-title span.span-w3 {
  width: 10%;
}
.courselayout-list .course-table-live-title span.span-w4 {
  width: 14%;
}
.courselayout-list .course-table.course-live-table li span.span-w1 {
  width: 30%;
  float: left;
}
.courselayout-list .course-table.course-live-table li span.span-w2 {
  width: 42%;
  float: left;
}
.courselayout-list .course-table.course-live-table li span.span-w2 .studied-end {
  width: 57px;
  float: none;
}
.courselayout-list .course-table.course-live-table li span.span-w3 {
  width: 10%;
  float: left;
}
.courselayout-list .course-table.course-live-table li span.span-w4 {
  width: 14%;
  float: left;
}
.courselayout-list .course-table {
  margin-top: 1px;
  border-radius: 5px;
  background: #fff;
}
.courselayout-list .course-table li:first-child {
  border: none;
}
.courselayout-list .course-table li {
  border-right: none;
  border-left: none;
  font-size: 14px;
  font-family: "SimSun";
  line-height: 62px;
  height: 62px;
  border-top: 1px solid #f5f5f5;
}
.courselayout-list .course-table li .outlines_chapter_name {
  text-align: left;
  padding-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.courselayout-list .course-table li span {
  width: 32%;
  display: inline-block;
  text-align: center;
  height: 62px;
  float: left;
}
.courselayout-list .course-table li span em {
  color: #999;
  padding: 0;
}
.courselayout-list .course-table li .text-style {
  text-align: center;
  font-size: 12px;
  color: #999;
}
.courselayout-list .course-table li .text-style span {
  color: #999;
  float: none;
  width: 85px;
}
.courselayout-list .course-table li .text-style a.homework-wait-submit {
  color: #ffbc3c;
  cursor: pointer;
}
.courselayout-list .course-table li .studied-end {
  color: #e74c3c;
}
.courselayout-list .course-table li .studied-end a {
  color: #e74c3c;
}
.courselayout-list .course-table li .yellow-mark {
  color: #ffbc3c;
}
.courselayout-list .course-table li .yellow-mark a {
  color: #ffbc3c;
}
.courselayout-list .course-table li .studied {
  color: #37bc9b;
}
.courselayout-list .course-table li .studied a {
  color: #37bc9b;
}
.courselayout-list .course-table li .static-gray {
  color: #999999;
}
.courselayout-list .course-table li .static-red {
  color: #e74c3c;
}
.courselayout-list .course-table li .wait-look {
  color: #3bafda;
}
.courselayout-list .course-table li .wait-look a {
  color: #3bafda;
}
.courselayout-list .course-table li span.yellow-mark em {
  display: inline-block;
  text-align: left;
  color: #999;
}
.courselayout-list .course-table li span.yellow-mark .mark {
  background: url("img/exclamation.png") no-repeat right center;
  vertical-align: middle;
  padding-right: 24px;
}
.courselayout-list .course-table li span.yellow-mark em.mark {
  background: url("img/exclamation.png") no-repeat right center;
  vertical-align: middle;
  padding-right: 24px;
  display: inline-block;
  width: 18px;
  height: 18px;
}
.teacher-tab {
  border-bottom: 1px solid #3bafda;
  overflow: hidden;
  margin-bottom: 22px;
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}
.teacher-tab li {
  float: left;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.teacher-tab li a {
  outline: none;
}
.teacher-tab li.current {
  background: #3bafda;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.teacher-tab li.current a {
  outline: none;
  color: #fff;
}
.teacher-tab li.current a:hover {
  color: #fff;
}
.amount-show .popover {
  background-color: #fcfcfc;
  font-family: "SimSun";
  min-width: 180px;
}
.amount-show .popover li {
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
.amount-show .popover li span {
  color: #e74c3c;
  margin-right: 5px;
}
.amount-show .popover p {
  font-size: 14px;
  color: #666;
  line-height: 22px;
}
.amount-show .popover p span {
  color: #e74c3c;
}
.amount-show .popover.top {
  margin-top: -13px;
}
.processingbar {
  text-align: center;
  margin: 3px 0 0 5px;
  position: relative;
}
.processingbar font {
  color: #999;
  display: block;
  width: 112px;
  height: 112px;
  line-height: 112px;
  font-size: 24px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 0px;
  z-index: 1;
  font-family: "Microsoft Yahei";
  margin-left: -56px;
  margin-top: -56px;
}
.processingbar_bg {
  background: #f5f5f5;
  border-radius: 50%;
  height: 91px;
  left: 50%;
  margin-left: -46px;
  margin-top: -48px;
  position: absolute;
  top: 50%;
  width: 91px;
}
/*新用户引导*/
.shade_scroll {
  overflow-y: hidden;
  background: #f1f2f6 ;
}
.guidance_wrap {
  width: 100%;
  height: 1979px;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 200;
}
.guidance_wrap .guidance_bg {
  width: 1190px;
  height: 1979px;
  margin: 0 auto;
  overflow: hidden;
  background: url("img/guide_bg.jpg") no-repeat;
}
.guidance_wrap .guidance_mask {
  width: 100%;
  height: 1979px;
  background: #000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 250;
}
.guidance_wrap .guidance_step {
  width: 100%;
  height: 1979px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 300;
}
.guidance_wrap .guidance_step .step_con {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.guidance_wrap .guidance_step .step_con .step_item {
  overflow: hidden;
  position: absolute;
  display: none;
}
.guidance_wrap .guidance_step .step_con .step_item .btns_next {
  display: block;
  width: 62px;
  height: 23px;
  position: absolute;
  background: #3bafda;
  right: 20px;
  bottom: 22px;
  border-radius: 2px;
  line-height: 23px;
  text-align: center;
  color: #fff;
}
.guidance_wrap .guidance_step .step_con .step_item .btns_next:focus {
  outline: none;
}
.guidance_wrap .guidance_step .step_con .step_item .btns_finish {
  display: block;
  width: 63px;
  height: 23px;
  position: absolute;
  background: #e74c3c;
  right: 83px;
  bottom: 14px;
  border-radius: 2px;
  line-height: 23px;
  text-align: center;
  color: #fff;
}
.guidance_wrap .guidance_step .step_con .step_item .btns_finish:focus {
  outline: none;
}
.guidance_wrap .guidance_step .step_con .step_item_1 {
  width: 388px;
  height: 151px;
  left: 50%;
  margin-left: -194px;
  top: 144px;
  background: url("img/step_1.png") no-repeat;
}
.guidance_wrap .guidance_step .step_con .step_item_2 {
  width: 557px;
  height: 264px;
  left: 212px;
  top: 371px;
  background: url("img/step_2.png") no-repeat;
}
.guidance_wrap .guidance_step .step_con .step_item_2 .btns_next {
  right: 20px;
  bottom: 72px;
}
.guidance_wrap .guidance_step .step_con .step_item_3 {
  width: 548px;
  height: 202px;
  left: 328px;
  top: 371px;
  background: url("img/step_3.png") no-repeat;
}
.guidance_wrap .guidance_step .step_con .step_item_3 .btns_next {
  right: 20px;
  bottom: 12px;
}
.guidance_wrap .guidance_step .step_con .step_item_4 {
  width: 544px;
  height: 201px;
  left: 447px;
  top: 371px;
  background: url("img/step_4.png") no-repeat;
}
.guidance_wrap .guidance_step .step_con .step_item_4 .btns_next {
  right: 20px;
  bottom: 12px;
}
.guidance_wrap .guidance_step .step_con .step_item_5 {
  width: 560px;
  height: 152px;
  right: 151px;
  top: 171px;
  background: url("img/step_5.png") no-repeat;
}
.guidance_wrap .guidance_step .step_con .step_item_5 .btns_next {
  right: 187px;
  bottom: 12px;
}
.guidance_wrap .guidance_step .step_con .step_item_6 {
  width: 506px;
  height: 631px;
  right: -4px;
  top: 126px;
  background: url("img/step_6.png") no-repeat;
}
