@charset "UTF-8";



// html{
//  font-size: 10px;
//  min-width: 570px;
// }

@Nfont-size:1.4rem;
@Sfont-size:1rem;
@LRpadding:0.8rem;

//body{
//  background-color: rgb(241,242,246);
//  line-height: 1;
//  font-size: 10px;
//  color:rgb(51,51,51);
//}
p{
  font-size: @Nfont-size;
  line-height: 1;
  text-rendering: optimizeLegibility; 
}
div{
  padding:0;
  margin:0;
}
.columns{
  padding:0;
}



/* 年级以及知识点选择css(start) */
.choiceSet{
  border: 1px dashed rgb(241,242,246);
  padding: 0 @LRpadding;
}
@grey:rgb(102,102,102);
.choiceSetting{
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 2px;
  padding:0.4rem 0.8rem;
  text-align: center;
  cursor: pointer;
}
.choiceSelect{
  background-color: rgb(59,175,218);
  color: #ffffff;
}
.choiceTip{
  color:@grey;
  font-size: 1.2rem;
  padding:1.2rem 1.2rem 1.2rem 0;
  text-align: center;
  width:6rem;
};
.choice{
  input{
    margin-top: 2px;
  }
  background-color: rgb(255,255,255);
  dl{
    margin-bottom: 0;
  }
  .filter{
    margin-top:1rem;
    margin-bottom: 1rem;
    position: relative;
    left:45%;
  }
  .choice-grade-border{

  }
  .choice-grade{
    margin:0;
    .choiceSet;
    .choice-grade-tip{
      .choiceTip
    }
    .choice-grade-cur-input{
      padding-top: 1.2rem;
      padding-bottom:1.2rem;
    }
    .choice-grade-cur{
      padding-top: 1rem;
      padding-bottom:1rem;
      .choice-grade-name{
        line-height: 1;
        .choiceSetting;
      }
    }
    .select-grade{
      .choiceSelect;
    }
  }

  .choice-subject{
    .choiceSet;
    .choice-subject-tip{
      .choiceTip
    }
    .choice-subject-cur-input{
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;  
    }
    .choice-subject-cur{
      padding-top: 1rem;
      padding-bottom: 1rem;  
      .choice-subject-name{
        line-height: 1;
        .choiceSetting;
      }
      .select-subject{
        .choiceSelect;
      }
    }
  }
  .choice-point{
    .choiceSet;
    .choice-point-tip{
      .choiceTip;
      letter-spacing: 0.3rem;
    }
    .choice-point-cur-input{
      overflow: hidden;
      height:2.9rem;
      padding-right:0;
      .radio-inline{
        margin-left: 0;
        margin-right:10px;
        margin-top: 1.2rem;
        margin-bottom:1.2rem;
      }
    }
    .choice-point-cur{
      overflow: hidden;
      height:3.0rem;
      padding-right:0;
      padding-top: 1rem;
      padding-bottom: 1rem;
      //line-height: 1.8;
      .choice-point-name{
        .choiceSetting;
        line-height: 1;
        margin-bottom: 0.2rem;
      }
    }
    .choice-cur-show{
      overflow:auto;
      height:7.5rem;
    }
    .chocie-point-show{
      padding: 0;
      width:9rem;
      a{
        font-size: 1.2rem;
        font-weight: normal;
        display: inline-block;
        margin:1.1rem 0 1.1rem 0;
        padding:0.2rem 0.5rem;
      }
    }

    .choice-point-link{
      padding:0;
      .chocie-point-show{
        cursor: pointer;
      }
      .chocie-point-download{
        cursor: pointer;
        border-radius: 2px;
        text-align: center;
        font-size: 1.2rem;
        color:#fff;
        width:8.5rem;
        margin:0.8rem 0 0.8rem 0.5rem;
        padding:0.5rem 0.5rem;
        background-color: rgb(59,175,218);
      }
    }

  }
}
/* 年级以及知识点选择css(end) */

