@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-10-21 14:22:33
 * @version $Id$
 */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *模拟听课页---讲节列表过多时的滚动条
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer{overflow: hidden;position: relative;}
.jspPane{position: absolute;}
.jspHorizontalBar{position: absolute;bottom: 0;left: 0;width: 100%;height: 16px;background: red;display: none;}
.jspCap{display: none;}
.jspHorizontalBar .jspCap{float: left;}
.jspHorizontalBar .jspTrack{float: left;height: 100%;display: none;}
.jspHorizontalBar .jspDrag{float: left;height: 100%;}

.jspArrow{background: #50506d;text-indent: -20000px;display: block;cursor: pointer;padding: 0;margin: 0;}
.jspArrow.jspDisabled{cursor: default;background: #80808d;}
.jspCorner{background: #eeeef4;float: left;height: 100%;}

.jspVerticalBar .jspArrow{height: 16px;}
.jspHorizontalBar .jspArrow{width: 16px;float: left;height: 100%;}
.jspVerticalBar .jspArrow:focus{outline: none;}
.jspVerticalBar{position: absolute;top: 0;right: 0;width: 16px;height: 100%;background: none;}
/*滚动整条背景色*/

.jspTrack{position: relative;background: none;}

/*滚轮条背景色*/
.jspDrag{width:8px;border-radius:4px;position: relative;top: 0;left: 0;cursor: pointer;background:#cccccc repeat-y;margin:0 auto;}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner{margin: 0 -3px 0 0;}

//学习课程页样式
		.ui-margin {width: 980px;margin: 0 auto;overflow: hidden;}
		h2.content-study-title {
			line-height:180%;font-size:16px;margin-bottom: 10px;
			strong {font-size:14px;color: #e74c3c;}
		}
		//课程视频和列表
		.content-study-player {
			height: 478px; background: #fff;border-radius: 2px;margin-bottom: 10px;
			//课程视频
			.player-live {
				float:left;width:745px;height:465px;
				#VideoPlay {
					width:730px;height:453px;margin:12px 0 0 10px;overflow:hidden;
				}
			}
			//课程讲节汇总列表
			   .player-list {
			   	 float:right;width:230px;height:465px;border-bottom:1px solid #efefef;background: url(img/tingkeyebg.jpg) repeat-y;
			   	 //讲--节--列表tab切换
					ul.list-title-tabs {
					width: 230px;height: 36px;line-height: 36px;overflow: hidden;margin:1px auto 0;background: url(img/tab_title_bg_03.jpg) no-repeat;padding:0;
							li {
							  float: right;display: inline;width: 115px;overflow: hidden;text-align: center;
								 a {
			                         display:block;width: 115px; text-decoration: none; font-size: 14px;color: #333;
			                         outline: none; 
			               		}
							   &.current {
				                  a {color: #fff;}
				                  .directory {background: url(img/tab_01.jpg) 0 0 no-repeat;}
				                  .audition {background: url(img/tab_02.jpg) -115px 0 no-repeat;}
				                }
							}
					}
					 //讲--节--列表
					.ui-scrolls-boxs {
						overflow: hidden;
						.scrolls-item {
							display: none;overflow: hidden;height: 427px;
							.jspPane {overflow: hidden;}
							//节列表
							ul.select-list{
								width:230px;overflow: hidden;margin:0;padding:0;background: url(img/scroll_ul.jpg) 22px 0 repeat-y;
								li.scrolls_title {
									height: 41px;line-height: 41px;border-bottom: 1px solid #e9e9e9;background: url(img/tingkeyebg.jpg) repeat-y;padding-left: 20px;padding-right: 10px; font-size: 14px;overflow: hidden;
								}
				                  li {
				                  	 padding-left: 42px;background: url(img/scroll_li.jpg) 28px 20px no-repeat;position: relative;
				                    p.icon-live {
				                       height: 43px;line-height: 43px;background: url(img/icon2_03.png) 1px 14px no-repeat;padding-left: 20px;margin:0;
				                  	 	a {
				                  	 		display: block;width: 140px;font-size: 14px;color: #666;
				                  	 		&.icon-sign {
				                  	 			background: url(img/icon_07_white.gif) right 14px no-repeat;
				                  	 		}
				                  	 		&:hover {color: #3bafda;}
				                  	 	}
                                        span.errorExplain{
                                           display: block;width: 60px;color: red;cursor: pointer;position: absolute;left:120px;top:0;z-index: 1;
                                        }
				                  	 	&.icon-tests {
				                  	 		background: url(img/copy.png) 1px 14px no-repeat;
				                  	 	}
				                    }
				                   &.current {
				                      background: url(img/scroll_current.jpg) no-repeat; 
				                       p.icon-live {
				                       	background: url(img/icon2_04.gif) 1px 14px no-repeat;
				                       	a {
				                       		color: #fff;
				                       	}
				                       }
				                    }
				                    &.last {background: url(img/last.jpg) 22px 1px no-repeat;}
				              }
				            }
				            //讲列表
							ul.select-say-list {
								overflow: hidden;margin:0;padding:0;
								li {
									overflow: hidden;border-bottom: 1px solid #e9e9e9;
									 p.icon-corner {
									 	 height:43px;line-height: 43px;margin:0;background: url(img/icon_03_white.gif) 10px 16px no-repeat;padding-left: 25px;
									 	 span {
									 	 	display: block;width: 180px;
									 	 	&.icon-sign {
				                  	 			background: url(img/icon_07_white.gif) right 14px no-repeat;
				                  	 		}
					                  	 	a {
										 	 	display: block;width: 160px;font-size: 12px;color: #666;
										 	 	&:hover {color: #3bafda;}
										 	 }
									 	 }
									 }
									&.current {
				                             background: url(img/scroll_current.jpg) no-repeat;
				                             p.icon-corner {
   													 background: url(img/icon_03_blue.gif) 10px 16px no-repeat;
   													 span {
   													 	background: url(img/icon2_04.gif) right 14px no-repeat;
   													 	 a {color: #fff;}
   													 }
											}
				                            
				                             
				                     }
								}
							}
						}
					}
			   }
		}
		//看点
		.look-focus-item {
			height: 60px;border-radius: 2px;background: #fff;
		    //左侧显示看点和发布看点输入框
		    .look-focus-left {
		    	float: left;display: inline;width: 750px;height: 30px;margin-top: 15px;padding-left: 10px;position: relative;
		    	.look-focus-show {
		    		overflow: hidden;line-height: 30px;display: block;
		    		.focus-content {
		    			float: left;display: inline;
		    			span.name {float: left;height:30px;overflow: hidden;color: #666666;}
		    			span.text {
		    				float: left;color: #666666;padding-right:10px;
		    				b {color: #006699;}
		    			}
		    			a {float: left;padding-right:10px;}
		    			.js-reply {display: none;}
		    			.js-informant {display: none;}
		    		}
		    		.focusAffirm {float: left;display: inline;}
		    		
		    	}
		    	.look-Focus-Push {
		    		display: none;overflow: hidden;line-height: 30px;
		    		.time-end {float: left;display: inline;width: 85px;background: url('img/icon_time.png') 0 5px no-repeat;padding-left: 25px;}
		    		.input-text {
		    			float: left;display: inline;width: 475px; height: 30px;border: 1px solid #ededed;background: #fcfcfc;padding:0 5px;
		    		}
		    		.btn-submit {
		    			float: left;display: inline;width: 95px;height: 30px;border: 1px solid #ededed;background: #3399cc;margin:0 5px;color: #fff;
		    		}
		    		.btn-cancel {
		    			float: left;display: inline;width: 58px;height: 28px;line-height: 28px; border: 1px solid #ededed;background: #fcfcfc;text-align: center;
		    		}
		    		span.errorTips {
		    			width: 180px;height: 40px;line-height:40px;background: #000;border-radius: 3px; position: absolute;left:280px;top:-5px;z-index: 10;color: #fff;text-align: center;opacity:0.7;
		    		}
		    		span.textTips {
		    			width: 150px;height: 40px;line-height:40px;border-radius: 3px; position: absolute;left:105px;top:-5px;z-index: 10;color: #999;
		    		}
		    	}
		    	.push-succeed {
		    		display: none;width: 750px;height: 30px;background: #fff; position: absolute;left: 10px;top:0;z-index: 10;color: #666;
		    		em {padding-right: 10px;font-style: normal;}
		    		span.btn-succeed {display:inline-block;width:155px;height:28px;line-height:28px;text-align: center; border: 1px solid #ededed;background: #fcfcfc;margin-left: 10px;color: #999;}
		    	}
		    }
		    //右侧发布看点和总看点数
		    .look-focus-right {
		    	float: right;display: inline;width: 200px;height: 30px;overflow: hidden;margin-top: 15px;
		    	.button-left {
		    		float: left;display: inline;overflow: hidden;width: 80px;height: 30px;margin-right: 20px;
		    		button {
		    			display:block;width: 80px;height: 30px;background: url(img/btn_look.png) no-repeat;text-indent: -99999em;border:0;
		    		}
		    		button.btn-disabled {background: url(img/btn_look_no.png) no-repeat;}
		    	}
		    	.look-right {
		    		float: left;display: inline;width: 65px;height:30px;line-height: 30px; overflow: hidden;background: url(img/lookIcon_03.png) no-repeat;padding-left: 35px;font-family: arial;font-size: 14px;
		    	}
		    	span.look-right {color: #999;}
		    }
		}
		// 看点end
//浮边的签到和问老师
.sideSingInItems {
    width: 60px;
    height: 121px;
    position: fixed;
    right: 1px;
    top: 50%;
    ul {
        position: relative;
        li {
            width: 60px; overflow: hidden;
            a {
                display: block;
                width: 60px;
                height: 60px;
            }
            &.singIn {
                height: 60px;
                background: url(img/side_1.png) 0 0 no-repeat;
            }
            &.askTeacher {
                height: 61px;
                background: url(img/side_1.png) 0 -60px no-repeat;
            }
            &.singInFinish {
                     background: url(img/side_2.png) 0 0 no-repeat;
            }
            &#singInLayer {
                display: none;
                width: 226px;
                height: 60px;
                position: absolute;
                right:60px;
                top:0;
                z-index:1;
                border: 1px solid #ccc;
                background: #fff;
                p {
                    line-height: 180%;
                    padding:8px 0 0px 10px;
                    font-size: 12px;
                    color: #666;
                    strong {
                        color: #cc0000;
                        padding:0 5px;
                    }
                }
            }
        }
    }
}


/* 讲测评css start */
#chapterTestStart{
    .modal-body{
        height: 780px;
        overflow: auto;
    }
}
#chapterTestResult{
    .modal-body{
        height: 780px;
        overflow: auto;
    }
}
.class_test{
    overflow: hidden;
}
.test_list_new .answer span .current,
.testcon .answer span .current {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0;
  color: #ffffff;
  background: #3399cc;
}

.class_test address,
.class_test cite,
.class_test dfn,
.class_test em,
.class_test var {
  font-style: normal;
}
.class_test .btn_red {
  background: #cb0000;
}
.class_test .btn_small {
  padding: 3px 5px;
}
.class_test .test_list_new .answer span a,
.testcon .answer span a {
  display: block;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 0;
  color: #ffffff;
  background: #f3f3f3;
  color: #333;
  text-shadow: 1px;
  padding: 3px 15px;
  line-height: 15px;
}
.class_test h4 {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  background-color: #f3f3f3;
}
.class_test .btn {
  margin-bottom: 15px;
}
.class_test .class_test_sum {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background: #FDF0F0;
  padding-left: 10px;
  margin-top: 3px;
}
.class_test .class_test_sum span {
  float: left;
  display: inline;
}
.class_test .class_test_sum .test_more {
  float: right;
  display: inline;
  margin-right: 25px;
}
.class_test .class_test_sum .test_more li, .class_test .class_test_sum .test_more li > a {
  float: left;
}
.class_test .class_test_sum .test_more li > a {
  margin-left: 15px;
}
.class_test .selected_answer {
  overflow: hidden;
  background: #FDF0F0;
}
.class_test .testcon {
  color: #cc0000;
  padding-left: 10px;
  overflow: hidden;
  border: 0 none;
  width:800px;
}
.class_test .testcon .answer {
  border: 0 none;
}
.class_test .testcon .answer span {
  float: none;
}
.class_test .testcon .answer input {
  width: 50px;
}
.class_test .testcon p {
  padding: 0;
}
.class_test .testcon ol span {
  color: #333333;
  margin-left: 10px;
}
.class_test .testcon .testcon_title {
  color: #999;
  font-size: 14px;
}
.class_test .close {
  float: right;
  padding: 5px 10px 0 0;
}
.class_test .btn {
  float: right;
  margin-right: 15px;
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}
/*=============/节练习题/==================*/
.wrong_title {
  overflow: hidden;
  background: #fbfbfb;
  border: 1px solid #e7e7e7;
  margin-bottom: 10px;
}
.wrong_title .subhead {
  padding-left: 15px;
  line-height: 30px;
  color: #666;
}
.wrong_title .title {
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  border-bottom: 1px dashed #e7e7e7;
}
.wrong_title .title .name {
  color: #666;
  float: left;
  width: 550px;
  padding-left: 15px;
}
.wrong_title .title .times {
  float: right;
  padding-right: 15px;
  color: #999;
}
.wrong_title .tabsWrong {
  float: left;
  display: inline;
  padding-left: 15px;
  overflow: hidden;
}
.wrong_title .num_bulist {
  display: inline;
}
.wrong_title .num_bulist li {
  float: left;
  font-size: 12px;
  color: #999;
  margin-left: 20px;
}
.wrong_title .num_bulist li strong {
  color: #333333;
}
.wrong_title .wrong_info {
  height: 40px;
}
.wrong_title .wrong_info .wrong_btn {
  margin-left: 10px;
  line-height: 15px;
  float: left;
  margin-top: 8px;
  padding: 5px 10px;
  color: #333333;
  text-decoration: none;
  color: #ffffff;
  background: #3399cc;
}
.wrong_list_new {
  border: 1px solid;
  margin-bottom: 20px;
  border-color: #eeeeee;
}
.wrong_list_new p {
  width: 938px;
  line-height: 30px;
  overflow: hidden;
  margin: 5px 20px;
}
.wrong_list_new .wrong_list_anwser p {
  padding-left: 30px;
}
.wrong_list_new .wrong_list_anwser strong {
  color: #000;
}
.wrong_list_new .wrong_list_anwser .red {
  color: #cc0000;
}
.wrong_list_new .wrong_list_anwser .error_big {
  background: url('http://img04.xesimg.com/icon/error_big.png') 0 3px no-repeat;
}
.wrong_list_new .wrong_list_anwser .right_big {
  background: url('http://img04.xesimg.com/icon/right_big.png') 0 3px no-repeat;
}
.wrong_list_new .wrong_list_anwser span {
  padding-right: 20px;
}
.wrong_list_new .wrong_list_knowledge {
  width: 868px;
  overflow: hidden;
  padding: 0 0 0 70px;
  background: url("http://img04.xesimg.com/wrong_icon_knowledge.png") no-repeat left 0px top 5px;
}
.wrong_list_new .wrong_list_analysis {
  width: 868px;
  overflow: hidden;
  padding: 0 0 0 70px;
  background: url("http://img04.xesimg.com/wrong_icon_analysis.png") no-repeat left 0px top 10px;
}
.class_answer ul,.class_answer li {
    list-style: none;
}
.class_answer a,
.class_answer a:link {
  text-decoration: none;
  color: #0076b3;
}
.class_answer a:visited {
  text-decoration: none;
  color: #0076b3;
}
.class_answer a:hover {
  text-decoration: underline;
  color: #0076b3;
}
.class_answer a:active {
  text-decoration: underline;
  color: #F00;
}
.class_answer a {
  outline: none;
}
.class_answer .wrong_list_new {
  border: 0 none;
}
.class_answer .wrong_list_new p {
  width: 780px;
}
.class_answer .wrong_list_new span {
  margin: 0 20px;
  font-size: 14px;
}
