input:not([type]),
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
}
input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  background: #fff;
  border: 1px solid #3bafda;
  outline: none;
}
span.error {
  font-style: normal;
  background: #fff;
}
.form-check {
  width: 420px;
  margin: 0 auto;
}
.form-check p {
  float: left;
  width: 75px;
  font-size: 12px;
  margin: 8px 0 0 0;
  color: #666;
  text-align: right;
}
.form-check a {
  color: #1e89e0;
}
.form-check label {
  cursor: text;
}
.form-check input {
  float: left;
  display: inline-block;
  width: 280px;
  margin: 0;
  padding: 8px 8px 8px 10px;
  font-size: 12px;
  vertical-align: middle;
  border: 1px #D5D5D5 solid;
}
.form-check span {
  display: block;
  font-size: 12px;
  color: #e74c3c;
  width: 288px;
  height: 30px;
  margin: 1px 0 0 65px;
  padding-top: 5px;
  line-height: 19px;
}
.form-check .phone-user {
  height: 50px;
}
.form-check .phone-user strong {
  height: 35px;
  line-height: 35px;
}
.form-check .phone-k {
  position: relative;
  width: 380px;
}
.form-check .phone-k .phone-tip {
  position: absolute;
  font-size: 12px;
  color: #a0a0a0;
  top: 9px;
  left: 87px;
}
.form-check .phone-k .phone-warning {
  clear: both;
}
.form-check .pass-eye {
  position: relative;
  width: 380px;
}
.form-check .pass-eye .pass-tip {
  position: absolute;
  font-size: 12px;
  color: #a0a0a0;
  top: 9px;
  left: 87px;
}
.form-check .pass-strength {
  width: 115px;
}
.form-check .pass-warning {
  float: left;
  display: inline-block;
}
.form-check .verification-k {
  display: inline-block;
  position: relative;
  width: 380px;
}
.form-check .verification-k .verification-tip {
  position: absolute;
  font-size: 12px;
  color: #a0a0a0;
  top: 9px;
  left: 87px;
}
.form-check .verification-k #verificationCode {
  width: 150px;
}
.form-check .verification-k img {
  width: 120px;
  height: 35px;
  margin-left: 12px;
  cursor: pointer;
}
.form-check .phonecode-k {
  display: inline-block;
  position: relative;
}
.form-check .phonecode-k .phonecode-tip {
  position: absolute;
  top: 9px;
  left: 87px;
  font-size: 12px;
  color: #a0a0a0;
}
.form-check .phonecode-k #phonecode {
  width: 150px;
}
.form-check .phonecode-k .vcode {
  width: 120px;
  height: 35px;
  margin: 0 0 0 12px;
  padding: 0;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
}
.form-check #form_submit {
  width: 100px;
  height: 35px;
  padding: 0;
  margin-left: 75px;
  border-radius: 2px;
  font-size: 14px;
}
