.form-check{
    position: relative;
    width:420px;
    margin: 60px auto 0;
    p{
        float: left;
        width: 75px;
        font-size: 12px;
        margin: 8px 0 0 0;
        color: #666;
        text-align: right;
    }
    a{
        color:rgb(30,137,224);
    }
    label{
        cursor:text;
    }
    input{
        float: left;
        display: inline-block;
        width: 280px;
        padding: 8px 8px 8px 10px;
        vertical-align: middle;
        border: 1px solid #d2d2d2;
        &:focus {
            border:1px solid #3bafda;
        }
    }
    .phone-error{
        display: none;
        position: absolute;
        top: -40px;
        width: 355px;
        border: 1px solid #e74c3c; 
        background-color: #fef6f5;
        span{
            display: inline-block;
            padding: 6px 0 6px 30px;
            color: #e74c3c;
            background: url("img/warning.png") 5px 4px no-repeat;
        }
    }
    .error-box{
        display: block;
        clear: both;  
        width: 288px;
        height: 30px;
        margin: 1px 0 0 65px;
        padding-top: 5px;
        line-height:19px;
        .error{
            display: none;
            color: #e74c3c;
            background: url("img/warning.png") no-repeat 10px 0;
            padding-left: 32px; 
        }
    }
    .phone-user{
        height: 50px;
        strong{
            height: 35px;
            line-height: 35px;
            font-size: 16px;
        }
    }
    .phone-k{
            position:relative;
            width: 380px;
            .phone-warning{
                clear: both;
            }
        }
    .pass-eye{
        position:relative;
        width: 380px;
    }
    .pass-strength{
        width: 115px;
    }
    .pass-warning{
        float: left;
        display: inline-block;
    }
    .verification-k{
        display: inline-block;
        position:relative;
        width: 380px;
        #verificationCode{
            width: 150px;
        }
        img{
            width: 120px;
            height: 35px;
            margin-left: 12px;
            cursor:pointer;
        }
    }    
    .phonecode-k{
        display: inline-block;
        position: relative;
        #phonecode{
            width: 150px;
        }
        .vcode{
            width: 120px;
            margin-left: 12px;
            font-size: 14px; 
            &:focus{
                outline: none;
            }
        }
    }
    .phone-tip,.phonecode-tip,.verification-tip,.pass-tip{
        position: absolute;
        top: 9px;
        left: 87px;
        font-weight: normal;
        color:rgb(160,160,160);
    }
    #mpform_submit{
        width: 100px;
        margin: 0px 30px 0 75px;
        font-size: 14px; 
        &:focus{
            outline: none;
        }
    }
}