@charset "UTF-8";
html {
  font-size: 10px;
  min-width: 570px;
}
body {
  background-color: #f1f2f6;
  line-height: 1;
  font-size: 10px;
  color: #333333;
}
p {
  font-size: 1.3rem;
}
div {
  padding: 0;
  margin: 0;
}
.columns {
  padding: 0;
}
/*错误题目css(start)*/
.queSet {
  border-bottom: 1px solid #f1f2f6;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.que {
  float: left;
  background-color: #ffffff;
  padding: 0;
}
.que .que-tips {
  color: #999999;
}
.que-head {
  border-bottom: 1px solid #f1f2f6;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.que-head .que-head-source {
  color: #3bafda;
}
.que-head .que-head-time {
  font-size: 1rem;
  margin: 2.2rem 0 1.6rem 0;
  color: #999999;
}
.que-point {
  border-bottom: 1px solid #f1f2f6;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.que-point .que-point-know {
  margin: 2.0rem 0 1.8rem;
}
.que-point .knowledge {
  padding-right: 1.375rem;
}
.que-body {
  border-bottom: 1px solid #f1f2f6;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.que-body .que-tips-head {
  font-weight: bold;
}
.que-body .que-body-choice {
  margin: 1.4rem 0;
}
.que-body .que-body-content {
  font-weight: normal;
  color: #333;
  width: 100%;
}
.que-body .que-body-hide {
  padding-right: 1rem;
  background: url("img/arrow_up.png") no-repeat right;
}
.que-body .que-body-show {
  cursor: pointer;
  width: 70px;
  padding-right: 1rem;
  margin-right: 2rem;
  background: url("img/arrow_down.png") no-repeat right;
}
.que-answer {
  clear: both;
  border-bottom: 1px solid #f1f2f6;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.que-answer .que-answer-head {
  font-weight: bold;
}
.que-answer .cusAns {
  padding-right: 2rem;
  color: #cc0000;
}
.que-answer .corAns {
  padding-right: 2rem;
  color: #3399cc;
}
.que-answer .explanace {
  font-weight: normal;
  color: #333;
}
.que-answer .img-answer {
  margin: 0;
  vertical-align: top;
  display: inline-block;
}
.que-answer .que-answer-exp {
  font-weight: bold;
}
.que-img {
  padding: 0.9rem 0.8rem;
}
.que-img .stuAns {
  width: 100px;
  height: 70px;
  cursor: pointer;
}
.que-img .que-voice {
  position: relative;
  margin: 0;
  padding: 0;
  width: 7.7rem;
  height: 2.7rem;
  vertical-align: middle;
  background-color: #37bc9b;
  border: #38bc9c;
}
.que-img .que-voice .que-voice-play {
  position: absolute;
  top: 30%;
  left: 15%;
}
.que-img .que-voice .que-voice-img {
  position: absolute;
  top: 30%;
  left: 35%;
}
/* 错误题目css(end) */
/* 链接浮窗css(start) */
.links .alert-box {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  width: 6rem;
  height: 7.2rem;
  font-size: 1.3rem;
  border: none;
  background-color: #3bafda;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.links .alert-box .pict-tip {
  margin: 1.4rem 1.8rem 0.7rem;
}
.links .alert-box:first-child {
  border-radius: 0.25rem 0.25rem 0 0;
}
.links .alert-box:last-child {
  border-radius: 0 0 0.25rem 0.25rem ;
}
.links .alert-box:hover {
  background-color: #2599c4;
  color: #fff;
  transform: scale(1.1) translate(0.3rem, 0);
  -webkit-transform: scale(1.1) translate(0.3rem, 0);
  -moz-transform: scale(1.1) translate(0.3rem, 0);
  border-radius: 0.25rem;
  z-index: 10;
  font-size: 1.43rem;
}
/* 链接浮窗css(end) */
/* 年级以及知识点选择css(start) */
.choiceSet {
  border-bottom: 1px dashed #f1f2f6;
  padding: 0 0.8rem;
}
.choiceSetting {
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 2px;
  margin: 1.1rem 1rem 1.1rem 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}
.choiceSelect {
  background-color: #3bafda;
  color: #ffffff;
}
.choiceTip {
  color: #666666;
  font-size: 1.2rem;
  margin: 1.1rem 0 1.1rem 0;
  padding: 0.2rem 0;
  text-align: center;
  width: 5rem;
  margin-right: 1rem;
}
.choice {
  background-color: #ffffff;
}
.choice .choice-grade {
  border-bottom: 1px dashed #f1f2f6;
  padding: 0 0.8rem;
}
.choice .choice-grade .choice-grade-tip {
  color: #666666;
  font-size: 1.2rem;
  margin: 1.1rem 0 1.1rem 0;
  padding: 0.2rem 0;
  text-align: center;
  width: 5rem;
  margin-right: 1rem;
}
.choice .choice-grade .choice-grade-cur span {
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 2px;
  margin: 1.1rem 1rem 1.1rem 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}
.choice .choice-grade .select-grade {
  background-color: #3bafda;
  color: #ffffff;
}
.choice .choice-subject {
  border-bottom: 1px dashed #f1f2f6;
  padding: 0 0.8rem;
}
.choice .choice-subject .choice-subject-tip {
  color: #666666;
  font-size: 1.2rem;
  margin: 1.1rem 0 1.1rem 0;
  padding: 0.2rem 0;
  text-align: center;
  width: 5rem;
  margin-right: 1rem;
}
.choice .choice-subject .choice-subject-cur span {
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 2px;
  margin: 1.1rem 1rem 1.1rem 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}
.choice .choice-subject .choice-subject-cur .select-subject {
  background-color: #3bafda;
  color: #ffffff;
}
.choice .choice-point {
  border-bottom: 1px dashed #f1f2f6;
  padding: 0 0.8rem;
}
.choice .choice-point .choice-point-tip {
  color: #666666;
  font-size: 1.2rem;
  margin: 1.1rem 0 1.1rem 0;
  padding: 0.2rem 0;
  text-align: center;
  width: 5rem;
  margin-right: 1rem;
  letter-spacing: 0.3rem;
}
.choice .choice-point .choice-point-cur {
  overflow: hidden;
  height: 3rem;
  padding-right: 0;
}
.choice .choice-point .choice-point-cur span {
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 2px;
  margin: 1.1rem 1rem 1.1rem 0;
  padding: 0.2rem 0.5rem;
  text-align: center;
  cursor: pointer;
}
.choice .choice-point .choice-point-cur .select-point {
  background-color: #3bafda;
  color: #ffffff;
}
.choice .choice-point .choice-cur-show {
  overflow: auto;
  height: 12rem;
}
.choice .choice-point .chocie-point-show {
  padding: 0;
  width: 5rem;
}
.choice .choice-point .chocie-point-show span {
  font-size: 1.2rem;
  display: inline-block;
  margin: 1.1rem 0 1.1rem 0;
  padding: 0.2rem 0.5rem;
}
.choice .choice-point .choice-point-link {
  padding: 0;
}
.choice .choice-point .choice-point-link .chocie-point-show {
  cursor: pointer;
}
.choice .choice-point .choice-point-link .chocie-point-download {
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  width: 8.5rem;
  margin: 0.8rem 0 0.8rem 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #3bafda;
}
/* 年级以及知识点选择css(end) */
/* 错题本头部css(start) */
.errorQuestion-head {
  background-color: #3bafda;
  height: 8rem;
  width: 100%;
  line-height: 8rem;
}
.errorQuestion-head .left-fade {
  color: #3bafda;
}
.errorQuestion-head .erq-head-min {
  width: 22rem;
}
.errorQuestion-head .erq-head-min .erq-head {
  width: 6.4rem;
  height: 6.4rem;
}
.errorQuestion-head .erq-info-up {
  margin-top: 1.8rem;
  margin-bottom: 0.1rem;
  width: 18rem;
}
.errorQuestion-head .erq-info-up .erq-icon {
  padding: 0 0.3rem 0.1rem;
  display: inline-block;
  width: 2.2rem;
  height: 1.6rem;
  background: url("img/v1.png") no-repeat 0 0.1rem;
}
.errorQuestion-head .erq-info-up .erq-dis {
  color: #2599c4;
  font-size: 1.3rem;
}
.errorQuestion-head .erq-info-up .erq-usePage {
  color: #fff;
}
.errorQuestion-head .erq-info-up .erq-useName {
  display: inline-block;
  font-size: 1.8rem;
  color: #fff;
}
.errorQuestion-head .erq-info-below .erq-sex {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: url("img/sex-woman.png") no-repeat #2599c4 45% 45%;
}
.errorQuestion-head .erq-info-below .erq-level .erq-level-left {
  margin-top: 0.2rem;
  margin-left: 0.8rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.8rem;
  border-radius: 100% 0 0 100%;
  background-color: #ffbc3c;
}
.errorQuestion-head .erq-info-below .erq-level .erq-level-right {
  margin-top: 0.2rem;
  display: inline-block;
  width: 1.5rem;
  height: 1.8rem;
  border-radius: 0 100% 100% 0;
  background-color: #ffbc3c;
}
.errorQuestion-head .erq-info-below .erq-level .erq-level-word {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-style: italic;
  display: inline-block;
  width: 2.5rem;
  height: 1.8rem;
  line-height: 1.8rem;
  color: #fff;
  background-color: #ffbc3c;
  text-align: center;
}
.errorQuestion-head .erq-head-prize {
  min-width: 16rem;
}
.errorQuestion-head .erq-head-prize .erq-prize {
  margin: 2.5rem 0 0 1rem;
  width: 3rem;
  height: 3rem;
}
