em,
i,
strong {
  font-style: normal;
}
ul,
li {
  margin: 0;
}
.content-collect {
  overflow: hidden;
  width: 100%;
}
.content-collect .collect-feed {
  border-bottom: 1px solid #eaeaea;
  padding: 20px 10px;
  overflow: hidden;
  width: 100%;
  font-family: "SimSun";
  position: relative;
}
.content-collect .collect-feed .collect-avatar {
  float: left;
  width: 80px;
  text-align: center;
  color: #666;
  font-size: 12px;
}
.content-collect .collect-feed .collect-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 4px;
}
.content-collect .collect-feed .collect-avatar span {
  display: block;
  width: 100%;
}
.content-collect .collect-feed .collect-detail {
  float: left;
  margin-left: 5px;
}
.content-collect .collect-feed .collect-detail p {
  margin-bottom: 0;
}
.content-collect .collect-feed .collect-detail .jzh-name {
  color: #666;
  font-size: 14px;
  width: 100%;
}
.content-collect .collect-feed .collect-detail .jzh-feed {
  margin: 10px 0;
  overflow: hidden;
}
.content-collect .collect-feed .collect-detail .jzh-feed img {
  float: left;
  height: 50px;
  width: 50px;
}
.content-collect .collect-feed .collect-detail .jzh-feed p {
  float: left;
  margin-left: 10px;
  color: #333;
}
.content-collect .collect-feed .collect-detail .jzh-feed p span {
  display: block;
  line-height: 25px;
}
.content-collect .collect-feed .collect-detail .jzh-feed p a {
  color: #333;
  font-size: 14px;
}
.content-collect .collect-feed .collect-detail .jzh-feed p .text1 {
  font-size: 14px;
}
.content-collect .collect-feed .collect-detail .jzh-feed p .text2 {
  color: #cc0000;
}
.content-collect .collect-feed .collect-detail .jzh-feed .text3 {
  font-size: 14px;
  margin-left: 0;
  max-width: 755px;
  overflow: hidden;
}
.content-collect .collect-feed .collect-detail .jzh-feed .feed-media-list {
  margin-top: 10px;
}
.content-collect .collect-feed .collect-detail .jzh-feed .feed-media-list .media-item-small {
  background: #ccc;
  cursor: url("http://img04.xesimg.com/big.cur"), auto !important;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}
.content-collect .collect-feed .collect-detail .jzh-feed .feed-media-list .media-item-small img {
  max-width: 120px;
  max-height: 120px;
  cursor: url("http://img04.xesimg.com/big.cur"), auto !important;
  vertical-align: top;
}
.content-collect .collect-feed .feed_ieVoice .icoVoiceCon {
  background: #79bd8f;
  border-radius: 18px;
  float: left;
  height: 35px;
  margin: 10 0;
  overflow: hidden;
}
.content-collect .collect-feed .feed_ieVoice .icoVoiceCon span.icoVoice {
  background: url("img/voice_icon1.png") no-repeat 0 0;
  float: left;
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 18px;
  margin: 8px 0 0 15px;
}
.content-collect .collect-feed .feed_ieVoice .icoVoiceCon span.voiceTime {
  color: #fff;
  float: left;
  font-size: 14px;
  margin: 6px 0 0 10px;
}
.content-collect .collect-feed .cancel-collect {
  display: block;
  font-size: 12px;
  color: #3bafda;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 20px;
}
.content-collect .icoVoicePlaying .feed_ieVoice .icoVoiceCon span.icoVoice {
  background: url("img/voice_icon2.gif") no-repeat scroll 0 0;
}
.hidden {
  display: none;
}
.feed-media-expand {
  overflow: hidden;
  width: 640px;
  margin: 10px  0;
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  padding: 10px;
}
.feed-media-expand .media-expand-box {
  text-align: center;
}
.feed-media-expand .media-expand-box img {
  max-width: 640px;
  cursor: url(http://img04.xesimg.com/small.cur), auto !important;
}
