@charset "UTF-8";

@Nfont-size:0.9rem;
@Sfont-size:0.6rem;

body{
  background-color: rgb(241,242,246);
}

.que{
  background-color: rgb(255,255,255);
}
.que-head{
  border-bottom: 1px solid rgb(241,242,246);
  line-height: 1;
}
.que-head-source{
  font-size:@Nfont-size;
  margin: 0.8rem 0;
}

.que-head-time{
  font-size: @Sfont-size;
  margin: 1rem 0;
}