.bill-none-content {
  width: 440px;
  height: 100px;
  margin: 150px auto 0;
}
.bill-none-content img {
  _float: left;
}
.bill-none-content p {
  float: right;
  margin: 22px 0 0 0;
  line-height: 35px;
  font-family: "Microsoft YaHei";
  font-size: 16px;
}
.bill-none-content p em {
  font-style: normal;
  color: #e74c3c;
}
