body {
  background: rgba(0, 0, 0, 0.6);
}
.information-guid {
  width: 530px;
  height: 520px;
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 55px 0 40px 0px;
}
.information-guid p.tips-infor1 {
  font-size: 18px;
  margin-top: 30px;
}
.information-guid p.tips-infor1 span {
  color: #e74c3c;
}
.information-guid p.tips-infor2 {
  font-size: 14px;
}
.infor-btn-wrap {
  text-align: center;
}
.infor-btn-wrap .information-btn {
  background-color: #e74c3c;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  height: 48px;
  width: 320px;
  line-height: 16px;
}
.setting-infor {
  width: 530px;
  height: 520px;
  background: #fff;
  border-radius: 4px;
}
.setting-infor .infor-title {
  margin: 0;
  height: 50px;
  background: url("img/setting-infor.jpg") no-repeat center center;
}
.setting-infor .infor-title li {
  width: 50%;
  text-align: center;
  float: left;
  font-size: 16px;
  line-height: 50px;
  list-style: none;
  color: #fff;
}
.setting-infor .setting-infor-inner {
  overflow: hidden;
  padding-left: 40px;
}
.setting-infor .setting-infor-inner p.setting-tip {
  font-size: 16px;
  margin-top: 20px;
}
.setting-infor .setting-infor-inner p.setting-tip span {
  color: #e74c3c;
  margin-right: 20px;
}
.setting-infor .f1 {
  overflow: hidden;
  margin-bottom: 0px;
  height: 82px;
}
.setting-infor .f1 label {
  display: inline;
  float: left;
  font-size: 14px;
  text-align: left;
  width: 50px;
  color: #666;
  height: 46px;
  line-height: 46px;
}
.setting-infor .f1 p {
  display: inline;
  float: left;
  margin-bottom: 10px;
  position: relative;
}
.setting-infor .f1 p .label-value {
  position: absolute;
  top: 0;
  width: auto;
  left: 9px;
  color: #ccc;
}
.setting-infor .f1 p .input-text {
  border: 1px solid #ccc;
  height: 46px;
  width: 320px;
  margin-bottom: 0;
  box-shadow: none;
  color: #333;
}
.setting-infor .f1 p .errTips {
  color: #cc0000;
  height: 20px;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
}
.setting-infor .f1 p .gender-1 {
  background: url("img/man.png") no-repeat scroll center top;
  display: inline-block;
  height: 20px;
  margin-right: 35px;
  width: 18px;
}
.setting-infor .f1 p .gender-0 {
  background: rgba(0, 0, 0, 0) url("img/woman.png") no-repeat scroll center top;
  display: inline-block;
  height: 20px;
  padding-right: 23px;
  width: 13px;
}
.setting-infor .f1 p.area-tips {
  display: block;
  float: none;
}
.setting-infor .f1 p.sex-tip {
  padding-top: 15px;
  margin-bottom: 20px;
}
.setting-infor .f1 p.sex-tip input {
  float: left;
  margin-top: 3px;
  margin-bottom: 0;
}
.setting-infor .f1 p.sex-tip .gender-1 {
  float: left;
}
.setting-infor .f1 p.sex-tip .gender-0 {
  float: left;
}
.setting-infor .f1 p.sex-tip label {
  float: left;
  width: 20px;
  margin-right: 0;
  height: auto;
  line-height: 21px;
}
.setting-infor .f1 p.sex-tip .errTips {
  display: block;
  clear: both;
}
.setting-infor .f1 .select {
  display: inline-block;
  width: auto;
  padding: 0 18px;
  margin-bottom: 0;
}
.setting-infor .f1 .select.has-success {
  border: 1px solid #68c04a;
}
.setting-infor .has-success p .input-text {
  border: 1px solid #68c04a;
}
.setting-infor .has-error p .input-text {
  border: 1px solid #ccc;
}
.focus-teacher {
  width: 530px;
  height: 520px;
  background: #fff;
  border-radius: 4px;
}
.focus-teacher .infor-title {
  margin: 0;
  height: 50px;
  background: url("img/foucs-teacher.jpg") no-repeat center center;
}
.focus-teacher .infor-title li {
  width: 50%;
  text-align: center;
  float: left;
  font-size: 16px;
  line-height: 50px;
  list-style: none;
  color: #fff;
}
.focus-teacher .setting-infor-inner {
  overflow-y: auto;
  padding: 0 16px;
  height: 355px;
  margin-bottom: 30px;
}
.focus-teacher .setting-infor-inner p.setting-tip {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.focus-teacher .setting-infor-inner p.setting-tip span {
  color: #e74c3c;
  margin-right: 20px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list {
  border: 1px solid #f0f0f0;
  display: inline;
  float: left;
  height: 110px;
  margin: 10px 10px 0 0px;
  overflow: hidden;
  width: 230px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list p {
  margin-bottom: 0;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .ui-avatar {
  display: inline;
  float: left;
  margin: 10px;
  overflow: hidden;
  position: static;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .ui-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun {
  display: inline;
  float: left;
  margin-top: 10px;
  overflow: hidden;
  width: 125px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-username {
  color: #333333;
  font-size: 14px;
  overflow: hidden;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-username .ui-username {
  float: left;
  color: #333;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-username .course-icon {
  display: inline-block;
  float: left;
  height: 17px;
  margin: 0 8px;
  width: 21px;
  text-indent: -99999px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-username .icon-bverify {
  background: url("img/icon-bverify.png") no-repeat left 0px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-username .icon-yverify {
  background: url("img/icon-yverify.png") no-repeat left 0px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fun-usres {
  color: #999999;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  font-size: 12px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fresh-course-attention {
  font-size: 12px;
  height: 20px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fresh-course-attention em {
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
  background: #dfdfdf;
  color: #999999;
  margin-right: 5px;
  font-style: normal;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fresh-attention-btn {
  background: #ffbc3c;
  border-radius: 2px;
  color: #fff;
  line-height: 20px;
  padding: 0 8px;
  display: inline-block;
  font-size: 12px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fresh-add {
  font-size: 14px;
  padding-right: 2px;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-fun .fresh-course-attention a.fresh-add-cancel-btn {
  color: #3bafda;
}
.focus-teacher .setting-infor-inner .fun-follow-item .follow-list .follow-con-info {
  color: #999999;
  display: inline;
  float: left;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  padding-left: 12px;
  width: 100%;
  font-size: 12px;
}
