.info_from {
  overflow: hidden;
  background: #fcfcfc;
  padding: 20px 20px 0;
  display: none;
}
.info_from p {
  overflow: hidden;
  height: 50px;
}
.info_from p label {
  float: left;
  display: inline;
  width: 70px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #666;
}
.info_from p input {
  float: left;
  display: inline;
  width: 260px;
  height: 36px;
  border: 1px solid #d2d2d2;
  padding: 5px;
}
.info_from p .input_360 {
  width: 360px;
}
.info_from p span {
  float: left;
  display: inline;
  color: #999;
  margin-right: 5px;
}
.info_from p span.text {
  line-height: 35px;
}
.info_from p .select {
  display: inline;
  margin-right: 10px;
  height: 36px;
  border: 1px solid #d2d2d2;
}
.info_from p .btn {
  width: 172px;
  color: #FFF;
  height: 35px;
  text-decoration: none;
  font-size: 16px;
  background: #3bafda;
}
.info_from p .error_tips_address {
  float: none;
  padding-left: 10px;
  color: #cc0000;
  display: inline-block;
}
.info_from p .error {
  border: 1px solid #c00;
}
.info_from p.error_tips_address {
  color: #cc0000;
}
