@charset "UTF-8";

#module-sidebar {
    position: fixed;
    width: 60px;
    margin-left: 3%;
    .btn {
        height: 90px;
        font-size: 14px;
        padding:15px 0;
    }
    i {
        font-size: 28px;
        width: 60px;
        margin-bottom: 5px;
    }
    span {
        display: block;
    }
}



