@charset "UTF-8";

@Nfont-size:14px;
@Sfont-size:12px;
@LRpadding:15px;

#wrongQuestionFlow{
    .modal-title{
        text-align: center;
    }
}

.wrongQuest{
  .selector{
    background-color: rgb(249,249,249);
    margin-right: 5px;
    width: 90px;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .nav-tabs{
    margin-bottom: 10px;
    border-bottom: 1px solid #3bafda;
    overflow: hidden;
  } 
    
}
.wrongQuest-sum{
        margin-top: 10px;
        margin-bottom: 0;
        color:rgb(153,153,153);
        float:right;
            span{
                color:rgb(231,76,60);
            }
    }

.choiceHide{
  margin-bottom: 20px;
  display: none;
}

/*错误题目css(start)*/
.queSet{
  border-bottom: 1px solid rgb(241,242,246);
  padding-left: @LRpadding;
  padding-right: @LRpadding;
}
.que{
  float:left;
  background-color: rgb(255,255,255);
  padding: 0;
  font-size: 14px;
  width: 100%;
  margin-bottom: 20px;  
  
  &:last-child{
  	margin-bottom: 40px;
  }
  .que-tips{
    margin-top: 10px;
    margin-bottom: 10px;
    color:rgb(153,153,153);
  }
}
.que-head{
  .queSet;
  .que-head-source{
    margin-top:0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom:15px;
    color:rgb(59,175,218);
  }

  .que-head-time-form{
    font-size: @Sfont-size;
    margin: 14px 0 12px 0;
    color:rgb(153,153,153);
  }
  .que-head-href{
    color:#1e89e0;
    &:hover{
      text-decoration: underline;
    }
  }
    .que-head-href-lb{
        color:#333;
        &:hover{
            color:#333;    
        }
        cursor:text;
    }
}

.que-point{
  .queSet;
  padding-top: 15px;
  padding-bottom: 15px;
  .que-point-know-form{
    line-height: 1;
    margin-bottom: 0;
  }
  .knowledge{
    padding-right: 15px;
  }
  .selected{
      color:#e74c3c;
  }
}

.que-body{
  .queSet;
  .que-tips-head{
    font-weight: bold;
  }
  .que-body-choice{
    margin: 12px 0;
  }
  .que-body-intro{
    font-weight: bold;
    line-height: 1.8;
  }
  .que-body-content{
    font-weight: normal;
    color:#333;
    line-height: 1.8;
  }
  .que-body-arrow{
    margin-right: 20px;
      margin-top:4px;
  }
  .que-body-show-text{
    cursor: pointer;
    width: 70px;
      &:hover{
          
          color:#1e89e0;
      }
  }
    .que-body-img-lb{
        display:block;
    }
}

.que-answer{
  line-height: 1.8;
  clear:both;
    display: none;
  .queSet;
  .que-answer-head{
    font-weight: bold;
  }
  @RPadding:20px;
  .cusAns{
    padding-right:15px;
    color:rgb(204,0,0);
  }
  .corAns{
    padding-right: 15px;
    color:rgb(51,153,204);
  }
  .explanace{
    font-weight: normal;
    color:#333;
  }
  .img-answer{
    margin: 0;
    vertical-align: top;
    display:inline-block;
  }
    .img-answer-lb{
        margin-bottom: 10px;
    }
  .que-answer-exp{
    font-weight: bold;
  }
}

.que-img{
  padding: 10px @LRpadding;
  .stuAns{
    width: 100px;
    height: 70px;
    cursor: pointer;
  }
  .que-voice{
    display:inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    vertical-align: middle;
    background-color:rgb(55,188,155);
    border:rgb(56,188,156);
    border-radius: 15px 15px 15px 15px;
    .que-voice-play{
      position: absolute;
      top: 30%;
      left:15%;
    }
    .que-voice-img{
      position: absolute;
      top: 30%;
      left:35%;
    }
  }
}
/* 错误题目css(end) */





