@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-10-29 10:40:12
 * @version $Id$
 */
@fa:					"Arial";
@fg:					"Georgia";
@ft:					"Tahoma";
@fl:					"Lucida Console";
@fs:					"宋体";
@fw:					"Microsoft YaHei";
@fd:					"verdana";
@fs:					"SimSun";
@red:                    #e74c3c;

// <!-- 头部导航 -->
.ui-header-nav {
	width: 1190px;height: 45px;margin:0 auto;overflow:hidden;
	.nav-classify {
		float: left;display: inline;width: 200px;line-height: 45px; background: #1e89e0;color: #fff;font-size: 16px;cursor: pointer;position: relative;
		a {
		    color: #fff;
		    display: block;
		    font: 400 15px/44px "microsoft yahei";
		    height: 44px;
		    padding: 0 20px;
		    .nav-r {
		    	color: #fff;
			    display: block;
			    font: 700 20px/16px simsun;
			    height: 7px;
			    overflow: hidden;
			    position: absolute;
			    right: 7px;
			    top: 20px;
			    transition: transform 0.1s ease-in 0s;
			    .nav-s{
			    	position: relative;
				    text-decoration: none;
				    top: -9px;
			    }
		    }
		    &:hover {
		    	.nav-r {
    				transform: rotate(180deg);
				}	
		    }
		}
	}

	 
	ul.nav {
		float:left; overflow: hidden;margin-left:10px;padding:0;
		li {
			float: left;width: 70px;line-height: 45px; text-align: center;list-style: none;
			a {
				color: #666;
				&:hover {
					color: #3bafda;	
				}
			}
			&.current {
				a {color: #3bafda;}
			}
		}
	}
}
