body {
  background: #f1f2f6;
}
.course-label {
  font-family: "SimSun";
  display: inline-block;
  padding: 2px 8px;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
.course-blue-label {
  background: #5abdeb;
}
.course-green-label {
  background: #37bc9b;
}
.icon-will-red {
  background: url("img/icon-will-red.png") no-repeat scroll left center;
  height: 10px;
}
.icon-just-white {
  background: url("img/white-arrow.png") no-repeat scroll left center;
  height: 10px;
}
.label-study {
  width: 25px;
  height: 47px;
  text-align: center;
  display: inline-block;
  position: absolute;
  right: 0px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
}
.label-delay {
  background: #3bafda;
  top: 57px;
}
.label-continun {
  background: #37bc9b;
  top: 105px;
}
.courseList-label {
  padding-right: 25px;
}
.courseList-wrap {
  position: relative;
}
.courseList-wrap ul,
.courseList-wrap li {
  list-style: none;
  margin-left: 0;
}
.courseList-wrap button.alert,
.courseList-wrap .button.alert {
  background-color: #e74c3c;
  border-color: #cf2b1a;
  color: #ffffff;
}
.courseList-wrap button.alert:hover,
.courseList-wrap button.alert:focus,
.courseList-wrap .button.alert:hover,
.courseList-wrap .button.alert:focus {
  background-color: #cf2b1a;
}
.courseList-wrap button,
.courseList-wrap .button {
  display: inline-block;
  text-decoration: none;
  transition: background-color 300ms ease-out 0s;
  border-style: solid;
  border-width: 0;
  color: #ffffff;
  cursor: pointer;
  -moz-appearance: none;
  background-color: #3bafda;
  border-color: #2392ba;
}
.courseList-wrap button.success,
.courseList-wrap .button.success {
  background-color: #37BC9B;
  border-color: #2c967c;
  color: #FFFFFF;
}
.courseList-wrap button.success:hover,
.courseList-wrap button.success:focus,
.courseList-wrap .button.success:hover,
.courseList-wrap .button.success:focus {
  background-color: #2c967c;
  color: #FFFFFF;
}
.courseList-wrap button:hover,
.courseList-wrap button:focus,
.courseList-wrap .button:hover,
.courseList-wrap .button:focus {
  background-color: #2392ba;
  color: #fff;
}
.courseList-wrap .course-btn-gray,
.courseList-wrap .course-btn-gray[disabled] {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
  color: #fff;
}
.courseList-wrap .course-btn-gray:hover,
.courseList-wrap .course-btn-gray[disabled]:hover {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
}
.courseList-wrap .course-btn-gray:focus,
.courseList-wrap .course-btn-gray[disabled]:focus {
  background: #ccd1d9;
  border: 1px solid #ccd1d9;
}
.courseList-wrap .button.course-btn {
  border-radius: 2px;
  font-family: "SimSun";
  margin-bottom: 0;
  width: 98px;
  height: 32px;
  text-align: center;
  font-size: 14px;
  padding: 0;
  line-height: 32px;
}
.courseList-wrap .button-icon {
  display: inline-block;
  margin-right: 6px;
  width: 13px;
}
.courseList-wrap .button.course-gray {
  background-color: #fcfcfc;
  border: 1px solid #eaeaea;
  color: #333333;
  line-height: 30px;
}
.courseList-wrap .button.course-gray:hover {
  background-color: #e2e2e2;
  border: 1px solid #d2d2d2;
}
.courseList-wrap .button.course-gray:focus {
  background-color: #e2e2e2;
  border: 1px solid #d2d2d2;
}
.courseList {
  background: #fff;
  border-radius: 4px;
  display: block;
  font-family: "SimSun";
  height: auto;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px 5px 15px 15px;
}
.courseList table,
.courseList tr,
.courseList th,
.courseList thead {
  margin: 0;
  padding: 0;
}
.courseList ul,
.courseList li,
.courseList p {
  margin: 0;
  list-style: none;
  padding: 0;
}
.courseList .left {
  float: left;
}
.courseList .study-report {
  float: left;
  width: 160px;
  height: 170px;
  border-right: 1px solid #eaeaea;
  padding-right: 17px;
}
.courseList .study-report .progress-show {
  text-align: center;
  margin-bottom: 5px;
}
.courseList .study-report p {
  text-align: left;
  font-size: 12px;
  color: #999999;
}
.courseList .study-report p span {
  color: #e74c3c;
}
.courseList .courseList-body {
  display: block;
  overflow: hidden;
  padding: 0 10px;
}
.courseList .courseList-body .course-center {
  min-width: 517px;
}
.courseList .courseList-body .course-title {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
}
.courseList .courseList-body .course-title .title-detail {
  color: #333333;
}
.courseList .courseList-body .course-title .course_estimate {
  color: #333333;
  font-size: 12px;
  margin-left: 10px;
  vertical-align: top;
}
.courseList .courseList-body .title-more {
  margin-top: 38px;
}
.courseList .courseList-body .end-time {
  color: #666;
  font-size: 12px;
  margin: 6px 0;
}
.courseList .courseList-body .end-time span strong {
  color: #e74c3c;
}
.courseList .courseList-body .amount-show .course-btn {
  margin-right: 10px;
  position: relative;
}
.courseList .courseList-body .amount-show .course-btn .newLabel {
  position: absolute;
  height: 20px;
  border-radius: 10px;
  background: #e74c3c;
  color: #fff;
  padding: 5px 7px;
  text-align: center;
  line-height: 10px;
  right: -10px;
  top: -10px;
}
.courseList .courseList-body .amount-show .course-btn .homeworkLabel {
  right: -15px;
}
.courseList .courseList-body .amount-show .course-btn .live-label {
  border-radius: 3px;
  right: -21px;
}
.courseList .courseList-body .amount-show .direct-btn {
  color: #e74c3c;
}
.courseList .courseList-body .amount-show .direct-btn a {
  color: #3bafda;
}
.courseList .courseList-body .more-service {
  margin-right: 10px;
}
.courseList .courseList-body .more-service h4 {
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  width: 62px;
  cursor: pointer;
  font-family: "SimSun";
  margin-top: 0;
}
.courseList .courseList-body .more-service .gray-arrow {
  background: url("img/gray-arrow.png") no-repeat right center;
}
.courseList .courseList-body .more-service .blue-arrow {
  background: url("img/blue-arrow.png") no-repeat right center;
}
.courseList .courseList-body .more-service .more-list {
  padding-top: 5px;
  border: 1px solid #f5f5f5;
  background: #fcfcfc;
  width: 62px;
  height: 92px;
  color: #333;
  font-size: 12px;
  line-height: 28px;
  text-align: center;
  display: none;
}
.courseList .courseList-body .show .more-list {
  display: block;
}
.courseList .courseList-teacher {
  height: 170px;
  border-left: 1px solid #eaeaea;
  width: 181px;
  float: left;
  padding: 5px 5px;
  position: relative;
}
.courseList .courseList-teacher .teacher-main {
  padding: 12px;
  overflow: hidden;
  float: left;
  width: 160px;
}
.courseList .courseList-teacher .teacher-main .avatar-photo {
  float: left;
  margin-right: 10px;
}
.courseList .courseList-teacher .teacher-main .coach-con {
  float: left;
  margin-top: 3px;
}
.courseList .courseList-teacher .teacher-main .coach-con p {
  line-height: 22px;
}
.courseList .courseList-teacher .teacher-main .coach-con p a {
  color: #333;
  font-size: 12px;
}
.courseList .courseList-teacher .teacher-main .coach-con p.teacher-coach {
  color: #3bafda;
  font-size: 14px;
  font-family: "Microsoft YaHei";
}
.courseList .courseList-teacher .teacher-main .coach-con p.teacher-majar {
  color: #999;
  font-size: 12px;
  font-family: "SimSun";
}
.courseList .courseList-teacher .teacher-main .coach-con p.relook-course {
  color: #e74c3c;
}
.courseList .courseList-teacher .teacher-main-border {
  border-bottom: 1px dotted #eaeaea;
}
.courseList .courseList-teacher .majar-items {
  position: relative;
}
.courseList .courseList-teacher .majar-items ul {
  overflow: hidden;
  width: 800px;
  height: 60px;
}
.courseList .courseList-teacher .majar-items ul li {
  overflow: hidden;
  float: left;
  width: 158px;
}
.courseList .courseList-teacher .majar-items .avatar-roll {
  position: absolute;
  right: 36px;
  bottom: 4px;
}
.courseList .courseList-teacher .majar-items .avatar-roll a {
  outline: none;
}
.courseList .courseList-teacher .majar-items .avatar-roll a em {
  display: inline-block;
  height: 17px;
  line-height: 17px;
  text-align: center;
  text-indent: -9999em;
  vertical-align: top;
  width: 17px;
}
.courseList .courseList-teacher .majar-items .avatar-roll a .icon-chevron-left {
  background: url('img/icon_chevron_left.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a .icon-chevron-right {
  background: url('img/icon_chevron_right.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a.none .icon-chevron-left {
  background: url('img/icon_chevron_left_none.png') no-repeat 0 0;
}
.courseList .courseList-teacher .majar-items .avatar-roll a.none .icon-chevron-right {
  background: url('img/icon_chevron_right_none.png') no-repeat 0 0;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table thead {
  background: #fcfcfc;
}
.table thead tr th {
  font-weight: normal;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.table tbody tr {
  border: 1px solid #eaeaea;
  line-height: 60px;
  height: 60px;
}
.table tbody tr td {
  color: #666;
}
.table tbody tr .opened {
  color: #e74c3c;
}
.table tbody tr .static {
  color: #3bafda;
}
table tr.even,
table tr.alt,
table tr:nth-of-type(2n) {
  background: #fff;
}
.material-wrap .material-tab {
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  margin-bottom: 22px;
  margin-left: 0;
}
.material-wrap .cant-load {
  float: right;
  font-size: 12px;
  line-height: 30px;
}
.material-wrap li {
  float: left;
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.material-wrap li.current {
  background: #3bafda;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.material-wrap .material tr td {
  border: 1px solid #eaeaea;
  padding: 9px 17px;
}
.material-wrap .material tr td p {
  color: #666;
  font-size: 12px;
  line-height: 34px;
  margin-bottom: 10px;
}
.material-wrap .material tr td span {
  color: #999999;
  font-size: 12px;
  margin-left: 10px;
}
.load-btn {
  padding: 0px 22px;
  line-height: 33px;
  font-size: 14px;
  background: #37bc9b;
  color: #fff;
  border-radius: 2px;
  margin-bottom: 0;
}
.bom-delay {
  padding: 30px 40px;
  background: #fff;
  overflow: hidden;
  height: 265px;
}
.bom-delay .delay-fsd {
  float: left;
  margin-right: 22px;
}
.bom-delay .delay-detail {
  float: left;
  padding-top: 25px;
  font-size: 16px;
  color: #666666;
}
.bom-delay .delay-detail p {
  line-height: 30px;
}
.bom-delay .delay-detail .button {
  border-radius: 2px;
  padding: 8px 36px;
  font-size: 16px;
  line-height: 30px;
  margin-top: 40px;
}
.courselayout-list table,
.courselayout-list tr,
.courselayout-list th,
.courselayout-list thead {
  margin: 0;
  padding: 0;
}
.courselayout-list ul,
.courselayout-list li,
.courselayout-list p {
  margin-left: 0;
  list-style: none;
  padding: 0;
}
.courselayout-list .courseList-title {
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
}
.courselayout-list .courseList-title p {
  font-size: 18px;
  font-family: 'Microsoft YaHei';
  line-height: 34px;
}
.courselayout-list .course-table {
  background: #fff;
}
.courselayout-list .course-table td {
  display: table-cell;
  line-height: 42px;
}
.courselayout-list .course-table thead {
  background: #fff;
  line-height: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #eaeaea;
}
.courselayout-list .course-table thead tr th {
  font-size: 16px;
  border-bottom: 1px solid #eaeaea;
}
.courselayout-list .course-table tr {
  font-size: 14px;
  font-family: "SimSun";
}
.courselayout-list .course-table tr .text-style {
  text-align: center;
  font-size: 12px;
}
.courselayout-list .course-table tr .text-style span {
  color: #999;
}
.courselayout-list .course-table tr .studied-end {
  color: #e74c3c;
}
.courselayout-list .course-table tr .yellow-mark {
  color: #ffbc3c;
}
.courselayout-list .course-table tr .studied {
  color: #37bc9b;
}
.courselayout-list .course-table tr .static-gray {
  color: #999999;
}
.courselayout-list .course-table tr .static-red {
  color: #e74c3c;
}
.courselayout-list .course-table tr .wait-look {
  color: #3bafda;
}
.courselayout-list .course-table tr td.yellow-mark em {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
.courselayout-list .course-table tr td.yellow-mark .mark {
  background: url("img/spam.png") no-repeat right center;
  vertical-align: middle;
}
.teacher-tab {
  border-bottom: 1px solid #3bafda;
  overflow: hidden;
  margin-bottom: 22px;
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}
.teacher-tab li {
  float: left;
  font-size: 14px;
  line-height: 30px;
  padding: 0 15px;
  cursor: pointer;
}
.teacher-tab li.current {
  background: #3bafda;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
