.none-clear{
    clear: both;
    .none-content{
        float: left;
        position: relative;
        left: 50%;
        .nc-center{
            position: relative;
            left: -50%;
            text-align: center;
            margin-top: 25px;
            img{
                height: 150px;
                width: 150px;
                _float: left;
                _margin-right: 240px;
            }
            p{
                _float: none;
                _width: 120px;
                margin-top: 10px;
                line-height: 35px;
                font-family: "Microsoft YaHei";
                font-size: 16px;
                em{
                    font-style: normal;
                    color: #e74c3c;
                }
            }
        }
    }
}