.hp-content {
  width: 990px;
  margin: 0 auto;
}
.hp-content ul {
  height: 30px;
  margin: 5px 0 60px 0;
  padding-left: 0;
  list-style: none;
}
.hp-content ul li {
  float: left;
  width: 72px;
}
.hp-content ul li a {
  font-size: 13px;
  color: #333;
}
.hp-content ul .current a {
  display: inline-block;
  height: 24px;
  color: #3bafda;
  font-weight: bold;
  border-bottom: 2px solid #3bafda;
}
.hp-content .hp-box-left {
  float: left;
  display: inline-block;
  clear: both;
  margin-left: 100px;
}
.hp-content .hp-box-left .hp-recommend .hpr-box {
  width: 570px;
  height: 280px;
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 35px;
}
.hp-content .hp-box-left .hp-recommend .hpr-box img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}
.hp-content .hp-box-left .hp-recommend .hpr-box img:hover {
  border: 3px solid #3bafda;
  box-shadow: 0px 0px 10px #3bafda;
  -moz-box-shadow: 0px 0px 10px #3bafda;
  -webkit-box-shadow: 0px 0px 10px #3bafda;
}
.hp-content .hp-box-left .hp-local .hl-box {
  position: relative;
  width: 400px;
  height: 340px;
  margin-bottom: 20px;
  background-color: #eee;
}
.hp-content .hp-box-left .hp-local .hl-box #preview #imghead {
  max-width: 400px;
  max-height: 340px;
}
.hp-content .hp-box-left .hp-local .hl-box .btn_up .btn_loadFile {
  position: absolute;
  width: 150px;
  height: 42px;
  top: 150px;
  left: 125px;
  font-size: 16px;
}
.hp-content .hp-box-left .hp-local .hl-box #loadFile {
  position: absolute;
  top: 150px;
  left: 125px;
  width: 150px;
  height: 42px;
  cursor: pointer;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.hp-content .hp-box-left .hp-local .hl-box em {
  position: absolute;
  display: block;
  top: 212px;
  left: 35px;
  font-style: normal;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  color: #e74c3c;
}
.hp-content .hp-box-left .hp-local .hl-box span {
  position: absolute;
  top: 240px;
  left: 35px;
  font-family: "SimSun";
  font-size: 12px;
  color: #666;
}
.hp-content .hp-box-left .btn-info {
  margin-bottom: 20px;
  width: 100px;
  height: 35px;
  font-size: 14px;
}
.hp-content .hp-box-right {
  float: right;
  width: 210px;
  height: 460px;
  padding-left: 38px;
  margin-right: 20px;
  border-left: 1px solid #eaeaea;
  font-size: 12px;
  color: #666;
}
.hp-content .hp-box-right h4 {
  font-size: 12px;
  font-weight: bold;
  color: #666;
}
.hp-content .hp-box-right p {
  font-size: 12px;
  color: #666;
}
.hp-content .hp-box-right #hp-small,
.hp-content .hp-box-right #hp-middle,
.hp-content .hp-box-right #hp-big {
  text-align: center;
}
.hp-content .hp-box-right #hp-small img,
.hp-content .hp-box-right #hp-middle img,
.hp-content .hp-box-right #hp-big img {
  margin: 30px auto 10px;
  display: block;
}
.hp-content .hp-box-right #hp-small img {
  width: 40px;
  height: 40px;
}
.hp-content .hp-box-right #hp-middle img {
  width: 60px;
  height: 60px;
}
.hp-content .hp-box-right #hp-big img {
  width: 100px;
  height: 100px;
}
