/* 个人中心头部centerHeader- start */
.centerHeader {
  width: 100%;
  padding-top: 16px;
  height: 100%;
  background: url('img/background.png');
  -moz-background-size: 100% 100%;
}
.centerHeader .centerHeader-background {
  width: 1190px;
  height: 300px;
  margin: 0 auto;
  background: url('img/header.jpg');
}
.centerHeader .centerHeader-background .centerHeader-ib {
  width: 1190px;
  height: 300px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.05);
}
.centerHeader .centerHeader-background .centerHeader-img {
  padding-top: 60px;
}
.centerHeader .centerHeader-background .centerHeader-img .centerHeader-img-head {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  position: relative;
  background: url('img/header-img.png');
}
.centerHeader .centerHeader-background .centerHeader-img .centerHeader-img-head .centerHeader-img-level {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 80%;
  left: 80%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background: #3bafda;
}
.centerHeader .centerHeader-background .centerHeader-img .centerHeader-img-head .centerHeader-img-level .level-img {
  position: absolute;
  top: 20%;
  left: 0;
  margin-left: 2px;
}
.centerHeader .centerHeader-background .intro {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  color: #fff;
}
.centerHeader .centerHeader-background .centerHeader-intro-office {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  color: #fff;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  color: #fff;
  position: relative;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher .centerHeader-intro-teacher-more {
  font-size: 12px;
  margin-left: 12px;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher .teacher-prize-size {
  position: absolute;
  width: 23px;
  height: 23px;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher .teacher-prize1 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 55%;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher .teacher-prize2 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 58%;
}
.centerHeader .centerHeader-background .centerHeader-intro-teacher .teacher-prize3 {
  position: absolute;
  width: 23px;
  height: 23px;
  left: 61%;
}
.centerHeader .centerHeader-background .centerHeader-intro-stu {
  font-size: 18px;
  text-align: center;
  margin-top: 8px;
  color: #fff;
}
.centerHeader .centerHeader-background .centerHeader-selfintro {
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 12px;
}
.centerHeader .centerHeader-background .centerHeader-selfintro span {
  font-size: 12px;
  margin: 0 5px;
}
.centerHeader .centerHeader-background .focus {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  color: #fff;
}
.centerHeader .centerHeader-background .btn {
  display: inline-block;
  width: 80px;
  height: 33px;
  line-height: 33px;
  border-radius: 1px;
  background: #ffbc3c;
}
.centerHeader .centerHeader-background .centerHeader-notFoucs {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  color: #fff;
}
.centerHeader .centerHeader-background .centerHeader-notFoucs .centerHeader-notFoucs-btn {
  letter-spacing: 4px;
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 33px;
  line-height: 33px;
  border-radius: 1px;
  background: #ffbc3c;
}
.centerHeader .centerHeader-background .centerHeader-notFoucs .centerHeader-notFoucs-btn:hover {
  background: #e87204;
}
.centerHeader .centerHeader-background .centerHeader-alFocus {
  text-align: center;
  font-size: 16px;
  margin-top: 15px;
  color: #fff;
}
.centerHeader .centerHeader-background .centerHeader-alFocus .centerHeader-alFocus-btn {
  display: inline-block;
  width: 80px;
  height: 33px;
  line-height: 33px;
  border-radius: 1px;
  background: #ffbc3c;
  cursor: pointer;
  margin-right: 9px;
}
.centerHeader .centerHeader-background .centerHeader-alFocus .centerHeader-willFocus-btn {
  cursor: pointer;
  display: inline-block;
  width: 80px;
  height: 33px;
  line-height: 33px;
  font-size: 14px;
}
.centerHeader .centerHeader-background .centerHeader-alFocus .centerHeader-willFocus-btn:hover {
  background: #ccc;
}
/* 个人中心头部 centerHeader end */
/* 个人中心 center-info start */
.center-left {
  width: 260px;
  background: #fff;
  border-radius: 4px;
}
.center-info {
  width: 260px;
  background: #fff;
  border-radius: 4px;
  height: 50px;
  font-size: 13px;
}
.center-info .center-info-all {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 36px;
  margin-top: 8px;
}
.center-info .center-info-fans {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 36px;
  margin-top: 8px;
  border-right: 1px solid #d9d9d9;
}
.center-info .center-info-fans .center-info-fans-name {
  color: #bfbfbf;
}
.center-info .center-info-newThing {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 36px;
  margin-top: 8px;
}
.center-info .center-info-newThing .center-info-newThing-name {
  color: #bfbfbf;
}
.center-info .center-info-stud {
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 36px;
  margin-top: 8px;
  border-left: 1px solid #d9d9d9;
}
.center-info .center-info-stud .center-info-stud-name {
  color: #bfbfbf;
}
.center-info .center-info-fans-office {
  display: inline-block;
  margin: 8px 0 0 8px;
  width: 120px;
  border-right: 1px solid #d9d9d9;
  text-align: center;
}
.center-info .center-info-newThing-office {
  display: inline-block;
  margin: 8px 8px 0 0;
  width: 120px;
  text-align: center;
}
/* 个人中心center-info end */
/* 个人中心认证 center-verify֤ start */
.verify-up-left {
  width: 106px;
  height: 30px;
  margin-left: 14px;
  margin-top: 20px;
  border-right: 1px solid #d9d9d9;
}
.verify-up-right {
  width: 135px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-top: 20px;
}
.center-verify-office {
  width: 260px;
  background: #fff;
  border-radius: 4px;
  height: 68px;
  font-size: 12px;
}
.center-verify-office .center-office-verify {
  float: left;
  width: 106px;
  height: 30px;
  margin-left: 14px;
  margin-top: 20px;
  border-right: 1px solid #d9d9d9;
  background: url("img/office-verify.png") no-repeat;
}
.center-verify-office .center-office-desc {
  float: left;
  width: 135px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-top: 20px;
}
.center-verify-teacher {
  width: 260px;
  background: #fff;
  border-radius: 4px;
  height: 145px;
  font-size: 12px;
}
.center-verify-teacher .center-teacher-verify {
  width: 106px;
  height: 30px;
  margin-left: 14px;
  margin-top: 20px;
  border-right: 1px solid #d9d9d9;
  background: url("img/teacher-verify.png") no-repeat;
}
.center-verify-teacher .center-teacher-link {
  width: 135px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-top: 20px;
  width: 130px;
  color: #75bfee;
  background: url("img/teacher-movie.png") no-repeat 15px 5px;
}
.center-verify-teacher .center-teacher-desc {
  width: 260px;
  height: 40px;
  line-height: 40px;
  padding-left: 14px;
  border-bottom: 1px solid #f2f2f5;
}
.center-verify-teacher .center-teacher-intro {
  height: 54px;
  line-height: 54px;
  padding-left: 40px;
  color: #999999;
  background: url("img/school.png") no-repeat 15px 15px;
}
.center-verify-stud {
  width: 260px;
  background: #fff;
  border-radius: 4px;
  height: 125px;
  font-size: 12px;
}
.center-verify-stud .center-stud-verify {
  width: 106px;
  height: 30px;
  margin-left: 14px;
  margin-top: 20px;
  border-right: 1px solid #d9d9d9;
  background: url("img/stud-verify.png") no-repeat;
}
.center-verify-stud .center-stud-desc {
  width: 135px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  margin-top: 20px;
}
.center-verify-stud .center-stud-prize {
  margin-top: 22px;
  border-top: 1px solid #f2f2f5;
}
.center-verify-stud .center-stud-prize {
  height: 52px;
}
.center-verify-stud .center-stud-prize img {
  width: 28px;
  height: 30px;
  margin: 11px 15px 11px 0;
}
.center-verify-stud .center-stud-prize img:first-child {
  margin-left: 15px;
}
/* 个人中心 center-cerify֤ end */
/* 个人中心 最近访问 center-visit start */
.center-visit {
  width: 260px;
  background: #fff;
  border-radius: 4px;
  height: 413px;
  font-size: 12px;
  padding-top: 18px;
  background-color: #ccc;
}
.center-visit .center-visit-intro {
  margin-left: 14px;
  font-size: 16px;
  color: #b0b0b0;
}
.center-visit .center-visit-group{
  margin: 0 auto;
}
.center-visit .center-visit-person {
  display: inline-block;
  padding: 15px 14px 10px;
  height: 110px;
  width: 78px;
  cursor: pointer;
}
.center-visit .center-visit-person .center-visit-header {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
.center-visit .center-visit-person .center-visit-name {
  margin-top: 6px;
  text-align: center;
}
.center-visit .center-visit-person .center-visit-time {
  margin-top: 6px;
  color: #999999;
}
.center-visit .blueRed-v:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  border-radius: 2px;
  transform: scale(1.05) translate(2px, 0);
  -webkit-transform: scale(1.05) translate(2px, 0);
  -moz-transform: scale(1.05) translate(2px, 0);
  z-index: 10;
}
/* 个人中心 最近访问 center-visit end */
/* 个人中心直播献花 center-broadcast start */
.center-rank-left {
  width: 920px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
}
.center-rank-flower {
  width: 920px;
  border-radius: 4px;
  background-color: #fff;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  color: #999999;
  padding-left: 15px;
  padding-right: 15px;
}
.center-rank-flower span {
  color: #000;
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}
.center-rank-flower span:first-child {
  margin-left: 10px;
}
.center-rank-flower .flower1 {
  padding-left: 25px;
  background: url("img/flower1.png") no-repeat 0 10px;
}
.center-rank-flower .flower2 {
  padding-left: 20px;
  background: url("img/flower2.png") no-repeat 0 10px;
}
.center-rank-flower .flower3 {
  padding-left: 20px;
  background: url("img/flower3.png") no-repeat 0 15px;
}
.center-rank-flower .rank-info {
  float: left;
  color: #ff3333;
  font-size: 12px;
}
.center-rank-alive {
  width: 920px;
  height: 700px;
  border-radius: 4px;
}
.center-rank-alive .center-rank-stud {
  height: 65px;
  width: 920px;
  background: #fff;
  font-size: 12px;
  line-height: 65px;
  overflow: hidden;
}
.center-rank-alive .center-rank-stud .rank-number {
  float: left;
}
.center-rank-alive .center-rank-stud .rank-number .number1 {
  background: #e7473c;
}
.center-rank-alive .center-rank-stud .rank-number .number2 {
  background: #ffbc3c;
}
.center-rank-alive .center-rank-stud .rank-number .number3 {
  background: #3bafda;
}
.center-rank-alive .center-rank-stud .rank-number span {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 18px;
  border-radius: 50%;
  background: #ccc;
}
.center-rank-alive .center-rank-stud div {
  margin-left: 20px;
}
.center-rank-alive .center-rank-stud .rank-photo {
  float: left;
  display: inline-block;
  width: 40px;
  height: 35px;
}
.center-rank-alive .center-rank-stud .rank-name {
  float: left;
}
.center-rank-alive .center-rank-stud .rank-name span {
  width: 170px;
  height: 65px;
  display: inline-block;
  color: #666666;
  font-size: 14px;
  overflow: hidden;
}
.center-rank-alive .center-rank-stud .send-flower {
  float: left;
  display: inline-block;
  font-size: 12px;
  color: #a6a3a3;
}
.center-rank-alive .center-rank-stud .send-flower .send-flower1 {
  margin-left: 18px;
  font-size: 14px;
  width: 100px;
  color: #333333;
  display: inline-block;
  padding-left: 25px;
  background: url("img/flower1.png") no-repeat 0 18px;
}
.center-rank-alive .center-rank-stud .send-flower .send-flower2 {
  font-size: 14px;
  width: 100px;
  display: inline-block;
  color: #333333;
  padding-left: 20px;
  background: url("img/flower2.png") no-repeat 0 18px;
}
.center-rank-alive .center-rank-stud .send-flower .send-flower3 {
  font-size: 14px;
  width: 100px;
  display: inline-block;
  color: #333333;
  padding-left: 20px;
  background: url("img/flower3.png") no-repeat 0 22px;
}
.center-rank-alive .center-rank-stud .rank-from {
  font-size: 12px;
  color: #666;
  float: right;
  width: 130px;
  height: 65px;
}
/* 个人中心直播献花 center-broadcast */
